{% extends "layout-renew.html" %}

{% set title = "Do you agree to the licence conditions?" %}

{% block pageTitle %}
  {% if data['agreetermserror'] == 1 %}
    Error - {{title}} - {{serviceName}} - GOV.UK
  {% else %}
    {{title}} - {{serviceName}} - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% if data['agreetermserror'] == 1 %}

      <!-- error summary -->
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You have not agreed to the licence conditions",
            href: "#agree-terms"
          }
        ]
      }) }}

    {% endif %}


    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

<!-- if user is buying for themselves, give them the recurring payment option on the next page -->
    {% if data['licenceFor'] == "user" %}
      <form action="/licenceTermsRP" method="post" class="form" id="recipient">
    {% else %}
      <form action="/licenceTerms" method="post" class="form" id="recipient">
    {% endif %}


      <p class="govuk-body">
        When you buy this licence you must: 
      </p>

      <ul class="govuk-list govuk-list--bullet">


        <li>not share your licence - it is only valid for the named licence holder</li>
        <li>carry proof of your licence when you go fishing and show it to our enforcement officers if asked</li>
        <li>get permission to fish from the owner of the water's fishing rights, usually a fishery or angling club, in addition to having this licence</li>
        <li>comply with the <a href="https://www.gov.uk/freshwater-rod-fishing-rules" target="_blank">national and local byelaws (opens in new tab)</a> that apply to the area you want to fish</li>
        <li>only use your licence for the specified date and time, number of rods and species of fish</li>
        <li>submit an annual catch return, even if you did not catch any salmon or sea trout, or did not go fishing - you can <a href="https://www.gov.uk/catch-return" target="_blank">submit a catch return online (opens in new tab)</a></li>

      </ul>








      {% if data['agreetermserror'] == 1 %}
        <div class="govuk-form-group govuk-form-group--error">
          <span class="govuk-error-message" id="question">
            <span class="govuk-visually-hidden">Error:</span> You must agree to the licence conditions to continue
          </span>
      {% else %}
        <div class="govuk-form-group">
      {% endif %}
      <div class="govuk-checkboxes govuk-!-margin-bottom-6">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="agree-terms" name="agree-terms" type="checkbox" value="agree">
          <label class="govuk-label govuk-checkboxes__label" for="returns-agent">
            I agree to the licence conditions
          </label>
        </div>
      </div>
      </div>

<br>
      <button type="submit" class="govuk-button govuk-!-margin-bottom-1">
        Continue
      </button>

<!--
      {% if data['licenceFor'] == "user" %}
      <br>
      <button type="submit" class="govuk-button govuk-!-margin-bottom-1">
        Continue
      </button>

      {% else %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Do not close the browser or use the back button during payment
        </strong>
      </div>

      <br>
      <button type="submit" class="govuk-button govuk-!-margin-bottom-1">
        Pay for the licence
      </button>

      <p class="govuk-body govuk-hint">
        <br>
        on the GOV.UK secure payment site
      </p>
      {% endif %} -->




    </form>

  </div>
</div>

<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
