{% extends "layout.html" %}

{% set title = "Payment complete: £90.40" %}

<!-- grab data from allLicences -->
{% set allLicences = data['allLicences'] %}

{% block pageTitle %}
  {{title}} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">

        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>

        <div class="govuk-panel__body">
          <div class="govuk-!-margin-bottom-6">
            Licence number:
            <div class="govuk-!-font-weight-bold govuk-!-margin-top-3">09120722-2WS2FJF-3JJS32</div>
            <br>
            <span>Valid from:</span>
            <div class="govuk-!-font-weight-bold govuk-!-margin-top-3">0am (first minute of the day) on 30 June 2024</div>
          </div>
        </div>
      </div>



    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <!-- <form action="licence-information">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          View licence details
        </button>
      </form>
 -->


<h2 class="govuk-heading-m">View your licence details</h2>


 <p class="govuk-body">
   <a href="licence-information" class="govuk-link">View your licence details</a>
 </p>

  <p class="govuk-body">
          Your licence will also be sent by email or text message.</p>

<h2 class="govuk-heading-m">Future licence payments</h2>

  <p class="govuk-body">
          You will shortly get an email or text message confirming your recurring card payment agreement. If you have changed your mind, you can <a href="">cancel the future licence payments now</a> or cancel later using the link in the email or text message.
        </p>

<h2 class="govuk-heading-m">When fishing</h2>

        <p class="govuk-body">
          An enforcement officer may ask if you are covered by a valid fishing licence. If you are waiting for your licence to arrive in the post, you can tell them your fishing licence number or show a printout or screenshot of <a href="licence-information" class="govuk-link">your licence details</a>.
        </p>

        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">national and local fishing byelaws (opens in new tab)</a>.
        </p>

        <p class="govuk-body">
          Salmon and sea trout licence holders must <a href="https://www.gov.uk/catch-return" class="govuk_link" target="_blank">submit a catch return (opens in new tab)</a> of yearly salmon and sea trout fishing activity in England and Wales. A catch return must be submitted even if no fish are caught or no fishing activity took place.
        </p>

      <h2 class="govuk-heading-m">Buy another licence</h2>
      
      <p class="govuk-body">You can <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link" target="_blank">buy another licence</a></li> for yourself or someone else.</p>

      <h2 class="govuk-heading-m">Before you leave this page</h2>

      <p class="govuk-body">You may like to:</p>
        <ul class="govuk-list govuk-list--bullet">
       <li><a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link" target="_blank">help us improve this service (opens in new tab)</a> - takes 30 seconds</li>
       <li><a href="https://www.gov.uk/government/collections/fisheries-annual-reports" target="_blank">read the latest fisheries annual report (opens in new tab)</a> to see how we spend income from fishing licences</li>
     </ul>


    </div>
  </div>


{% endblock %}
