{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "Is this added licence for you?" %}
{% else %}
  {% set title = "Is this added licence for the same licence holder?" %}
{% endif %}

{% block pageTitle %}
  {{title}} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- debug / show data -->
    {% include "includes/clip/debug.html" %}

    <form action="/multibuy-same-person?source=gafl" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <!-- this is not the same as the page title -->
              {{ title }}
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="same-person-yes" name="same-person" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="same-person-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="same-person-no" name="same-person" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="same-person-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{govukButton({
        text: "Continue"
      })}}

    </form>

  </div>
</div>

{% endblock %}
