{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "How do you want your fishing licence confirmation?" %}
{% else %}
  {% set title = "How should we send the fishing licence confirmation?" %}
{% endif %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% if data['licenceconferror'] == 1 %}

        <!-- error summary -->
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Choose how we should send the licence",
              href: "#licence-confirmation-email-option"
            }
          ]
        }) }}

      {% endif %}


      <form action="/licenceConfirmation" method="post" class="form">
      <!-- <form action="check-contact-info"> -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <p class="govuk-body">
              This is where we will send confirmation of the fishing licence.
            </p>




            {% if data['licenceconferror'] == 1 %}
              <div class="govuk-form-group govuk-form-group--error">
            {% else %}
              <div class="govuk-form-group">
            {% endif %}
            <!-- radios -->
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              {% if data['licenceconferror'] == 1 %}
              <span class="govuk-error-message" id="question">
                <span class="govuk-visually-hidden">Error:</span> Choose how we should send the licence
              </span>
              {% endif %}

              <!-- radio 1 -->
              <div class="govuk-radios__item">
                {% if data['licence-confirmation'] == "email" %}
                  <input class="govuk-radios__input" id="licence-confirmation-email-option" name="licence-confirmation" type="radio" value="email" data-aria-controls="conditional-licence-confirmation-email-option" checked>
                {% else %}
                  <input class="govuk-radios__input" id="licence-confirmation-email-option" name="licence-confirmation" type="radio" value="email" data-aria-controls="conditional-licence-confirmation-email-option">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="licence-confirmation-email-option">
                  Email
                </label>
              </div>

              <!-- reveal 1 -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-confirmation-email-option">
                {% if data['email'] %}
                  <div class="govuk-form-group">
                    <p class="govuk-body" for="confirmation-by-email">
                      We will email you at <span class="govuk-!-font-weight-bold">{{ data['email'] }}</span>
                    </p>
                  </div>
                {% else %}
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="confirmation-by-email">
                      Email address
                    </label>
                    <p class="govuk-hint">
                      For example name@example.com.
                    </p>
                    <input class="govuk-input govuk-!-width-two-thirds" id="confirmation-by-email" name="email" type="email" spellcheck="false">
                  </div>
                {% endif %}
              </div>

              <!-- radio 2 -->
              <div class="govuk-radios__item">
                {% if data['confirmation'] == "phone" %}
                  <input class="govuk-radios__input" id="licence-confirmation-text-message-option" name="licence-confirmation" type="radio" value="phone" data-aria-controls="conditional-licence-confirmation-text-message-option" checked>
                {% else %}
                  <input class="govuk-radios__input" id="licence-confirmation-text-message-option" name="licence-confirmation" type="radio" value="phone" data-aria-controls="conditional-licence-confirmation-text-message-option">
                {% endif %}

                <label class="govuk-label govuk-radios__label" for="licence-confirmation-text-message-option">
                  Text message
                </label>
              </div>
              <!-- reveal 2 -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-confirmation-text-message-option">
                <div class="govuk-form-group">

                  {% if data['phone-number'] %}
                  <div class="govuk-form-group">
                    <p class="govuk-body" for="confirmation-by-phone">
                      We will send text messages to <span class="govuk-!-font-weight-bold">{{ data['phone-number'] }}</span>
                    </p>
                  </div>
                  {% else %}
                    <label class="govuk-label" for="confirmation-by-phone">
                      UK mobile number
                    </label>
                    <p class="govuk-hint">
                      For example 07700 900 900.
                    </p>
                    <input class="govuk-input govuk-!-width-one-third" id="confirmation-by-phone" name="phone-number" type="tel">
                  {% endif %}
                </div>
              </div>

              <!-- radio 3 -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-confirmation-manual-option" name="licence-confirmation" type="radio" value="note">
                <label class="govuk-label govuk-radios__label" for="licence-confirmation-manual-option">
                  I will make a note of the licence number
                </label>

              </div>

            </div>
          </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
