<!-- language switcher (option 2) -->
<!-- this is a language switcher that combines
the feedback banner and the language control -->

<div class="link-banner">
  <div class="link-banner--left">

    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        Your
        <a class="govuk-link" href="#">feedback<span class="govuk-visually-hidden"> form</span> (opens in new tab)</a> will help us to improve this service.
      </span>
    </p>

  </div>
  <div class="link-banner--right">

    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        <a class="govuk-link" href="#"><span class="govuk-visually-hidden">Newid i </span>Cymraeg</a>
      </span>
    </p>

  </div>
</div>
