//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

@import "patterns/meta-data";
@import "patterns/tables";
@import "patterns/print";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/sidebar";
@import "components/card";
@import "components/table-extras";
@import "components/link-banner";
@import "components/calendar";
// @import "components/language-switch";
@import "debugger";



.govuk-details__text.full-width {
  padding-left: 0;
  border-left: 0;
}

.govuk-details__text.full-width table {
  text-align: left;
}

.payment-summary {
    // margin-top: 30px;
    border-top: 2px solid #1d70b8;
    padding: 15px;
    background-color: #f3f2f1;
}

.govuk-email .govuk-width-container {
  max-width: 600px;
}

.big-email .govuk-radios__label, .big-email .govuk-label {
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: block;
}
