{% extends "layout.html" %}

{% set title = "Enter your address" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="select-address">

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Building number or name
            <br><span class="govuk-hint">
              For example, 47, Flat 2a or Rose Cottage
             </span>
          </label>
          <input class="govuk-input govuk-input--width-20" id="building-number" name="building-number" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Address line 1 (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="address-1" name="address-1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Address line 2 (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="address-2" name="address-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Town or city
          </label>
          <input class="govuk-input govuk-input--width-20" id="town" name="town" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Post code
            <br><span class="govuk-hint">
              For example, WA4 1AB
             </span>
          </label>
          <input class="govuk-input govuk-input--width-20" id="postcode" name="postcode" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="country-code">
            Country
          </label>


          <select class="govuk-select" id="country-code" name="country-code">


              <option value="GB-ENG">England</option>



              <option value="GB-WLS">Wales</option>



              <option value="GB-SCT">Scotland</option>



              <option value="GB-NIR">Northern Ireland</option>



              <option value="AF">Afghanistan</option>



              <option value="AL">Albania</option>



              <option value="DZ">Algeria</option>



              <option value="AD">Andorra</option>



              <option value="AO">Angola</option>



              <option value="AG">Antigua and Barbuda</option>



              <option value="AR">Argentina</option>



              <option value="AM">Armenia</option>



              <option value="AU">Australia</option>



              <option value="AT">Austria</option>



              <option value="AZ">Azerbaijan</option>



              <option value="BH">Bahrain</option>



              <option value="BD">Bangladesh</option>



              <option value="BB">Barbados</option>



              <option value="BY">Belarus</option>



              <option value="BE">Belgium</option>



              <option value="BZ">Belize</option>



              <option value="BJ">Benin</option>



              <option value="BT">Bhutan</option>



              <option value="BO">Bolivia</option>



              <option value="BA">Bosnia and Herzegovina</option>



              <option value="BW">Botswana</option>



              <option value="BR">Brazil</option>



              <option value="BN">Brunei</option>



              <option value="BG">Bulgaria</option>



              <option value="BF">Burkina Faso</option>



              <option value="MM">Burma</option>



              <option value="BI">Burundi</option>



              <option value="KH">Cambodia</option>



              <option value="CM">Cameroon</option>



              <option value="CA">Canada</option>



              <option value="CV">Cape Verde</option>



              <option value="CF">Central African Republic</option>



              <option value="TD">Chad</option>



              <option value="CL">Chile</option>



              <option value="CN">China</option>



              <option value="CO">Colombia</option>



              <option value="KM">Comoros</option>



              <option value="CG">Congo</option>



              <option value="CD">Congo (Democratic Republic)</option>



              <option value="CR">Costa Rica</option>



              <option value="HR">Croatia</option>



              <option value="CU">Cuba</option>



              <option value="CY">Cyprus</option>



              <option value="CZ">Czech Republic</option>



              <option value="DK">Denmark</option>



              <option value="DJ">Djibouti</option>



              <option value="DM">Dominica</option>



              <option value="DO">Dominican Republic</option>



              <option value="TL">East Timor</option>



              <option value="EC">Ecuador</option>



              <option value="EG">Egypt</option>



              <option value="SV">El Salvador</option>



              <option value="GQ">Equatorial Guinea</option>



              <option value="ER">Eritrea</option>



              <option value="EE">Estonia</option>



              <option value="ET">Ethiopia</option>



              <option value="FJ">Fiji</option>



              <option value="FI">Finland</option>



              <option value="FR">France</option>



              <option value="GA">Gabon</option>



              <option value="GE">Georgia</option>



              <option value="DE">Germany</option>



              <option value="GH">Ghana</option>



              <option value="GR">Greece</option>



              <option value="GD">Grenada</option>



              <option value="GT">Guatemala</option>



              <option value="GN">Guinea</option>



              <option value="GW">Guinea-Bissau</option>



              <option value="GY">Guyana</option>



              <option value="HT">Haiti</option>



              <option value="HN">Honduras</option>



              <option value="HU">Hungary</option>



              <option value="IS">Iceland</option>



              <option value="IN">India</option>



              <option value="ID">Indonesia</option>



              <option value="IR">Iran</option>



              <option value="IQ">Iraq</option>



              <option value="IE">Ireland</option>



              <option value="IL">Israel</option>



              <option value="IT">Italy</option>



              <option value="CI">Ivory Coast</option>



              <option value="JM">Jamaica</option>



              <option value="JP">Japan</option>



              <option value="JO">Jordan</option>



              <option value="KZ">Kazakhstan</option>



              <option value="KE">Kenya</option>



              <option value="KI">Kiribati</option>



              <option value="KS">Kosovo</option>



              <option value="KW">Kuwait</option>



              <option value="KG">Kyrgyzstan</option>



              <option value="LA">Laos</option>



              <option value="LV">Latvia</option>



              <option value="LB">Lebanon</option>



              <option value="LS">Lesotho</option>



              <option value="LR">Liberia</option>



              <option value="LY">Libya</option>



              <option value="LI">Liechtenstein</option>



              <option value="Lithuania">Lithuania</option>



              <option value="LU">Luxembourg</option>



              <option value="MK">Macedonia</option>



              <option value="MG">Madagascar</option>



              <option value="MW">Malawi</option>



              <option value="MY">Malaysia</option>



              <option value="MV">Maldives</option>



              <option value="ML">Mali</option>



              <option value="MT">Malta</option>



              <option value="MH">Marshall Islands</option>



              <option value="MR">Mauritania</option>



              <option value="MU">Mauritius</option>



              <option value="MX">Mexico</option>



              <option value="FM">Micronesia</option>



              <option value="MD">Moldova</option>



              <option value="MC">Monaco</option>



              <option value="MN">Mongolia</option>



              <option value="ME">Montenegro</option>



              <option value="MA">Morocco</option>



              <option value="MZ">Mozambique</option>



              <option value="NA">Namibia</option>



              <option value="NR">Nauru</option>



              <option value="NP">Nepal</option>



              <option value="NL">Netherlands</option>



              <option value="NZ">New Zealand</option>



              <option value="NI">Nicaragua</option>



              <option value="NE">Niger</option>



              <option value="NG">Nigeria</option>



              <option value="KP">North Korea</option>



              <option value="NO">Norway</option>



              <option value="OM">Oman</option>



              <option value="PK">Pakistan</option>



              <option value="PW">Palau</option>



              <option value="PA">Panama</option>



              <option value="PG">Papua New Guinea</option>



              <option value="PY">Paraguay</option>



              <option value="PE">Peru</option>



              <option value="PH">Philippines</option>



              <option value="PL">Poland</option>



              <option value="PT">Portugal</option>



              <option value="QA">Qatar</option>



              <option value="RO">Romania</option>



              <option value="RU">Russia</option>



              <option value="RW">Rwanda</option>



              <option value="WS">Samoa</option>



              <option value="SM">San Marino</option>



              <option value="ST">Sao Tome and Principe</option>



              <option value="SA">Saudi Arabia</option>



              <option value="SN">Senegal</option>



              <option value="RS">Serbia</option>



              <option value="SC">Seychelles</option>



              <option value="SL">Sierra Leone</option>



              <option value="SG">Singapore</option>



              <option value="SK">Slovakia</option>



              <option value="SI">Slovenia</option>



              <option value="SB">Solomon Islands</option>



              <option value="SO">Somalia</option>



              <option value="ZA">South Africa</option>



              <option value="KR">South Korea</option>



              <option value="SS">South Sudan</option>



              <option value="ES">Spain</option>



              <option value="LK">Sri Lanka</option>



              <option value="KN">St Kitts and Nevis</option>



              <option value="LC">St Lucia</option>



              <option value="VC">St Vincent</option>



              <option value="SD">Sudan</option>



              <option value="SR">Suriname</option>



              <option value="SZ">Swaziland</option>



              <option value="SE">Sweden</option>



              <option value="CH">Switzerland</option>



              <option value="SY">Syria</option>



              <option value="TJ">Tajikistan</option>



              <option value="TZ">Tanzania</option>



              <option value="TH">Thailand</option>



              <option value="BS">The Bahamas</option>



              <option value="GM">The Gambia</option>



              <option value="TG">Togo</option>



              <option value="TO">Tonga</option>



              <option value="TT">Trinidad and Tobago</option>



              <option value="TN">Tunisia</option>



              <option value="TR">Turkey</option>



              <option value="TM">Turkmenistan</option>



              <option value="TV">Tuvalu</option>



              <option value="UG">Uganda</option>



              <option value="UA">Ukraine</option>



              <option value="AE">United Arab Emirates</option>



              <option value="US">United States</option>



              <option value="UY">Uruguay</option>



              <option value="UZ">Uzbekistan</option>



              <option value="VU">Vanuatu</option>



              <option value="VA">Vatican City</option>



              <option value="VE">Venezuela</option>



              <option value="VN">Vietnam</option>



              <option value="YE">Yemen</option>



              <option value="ZM">Zambia</option>



              <option value="ZW">Zimbabwe</option>


          </select>
        </div>        

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Sort by
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="published">Recently published</option>
            <option value="updated" selected>Recently updated</option>
            <option value="views">Most views</option>
            <option value="comments">Most comments</option>
          </select>
        </div> -->

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p class="govuk-body-m">
        <a href="find-address" class="govuk-link">Find your address</a>
      </p>

    </div>
  </div>

{% endblock %}
