{% extends "layout.html" %}


{% block pageTitle %}
Changes to rod fishing licence prices - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- debug / show data -->
    {% include "includes/clip/debug.html" %}



    <h1 class="govuk-heading-l">Changes to rod fishing licence prices</h1>

    <p class="govuk-body">The price of a rod fishing licence is increasing over 3 years from 1 April 2023. The discounted licence age is also going up from 65 to 66.</p>



    <table class="govuk-table govuk-!-margin-top-7">
      <caption class="govuk-table__caption govuk-table__caption--m">Trout, coarse fish and eel licence (up to 2 rods)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence length</th>
          <th scope="col" class="govuk-table__header">Price until 31 March 2023</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2023</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2024</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2025</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-day</th>
          <td class="govuk-table__cell">£6</td>
          <td class="govuk-table__cell">£6.60</td>
          <td class="govuk-table__cell">£7.10</td>
          <td class="govuk-table__cell">£7.30</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8-day</th>
          <td class="govuk-table__cell">£12</td>
          <td class="govuk-table__cell">£13.20</td>
          <td class="govuk-table__cell">£14.30</td>
          <td class="govuk-table__cell">£14.70</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell">£30</td>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£35.80</td>
          <td class="govuk-table__cell">£36.80</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - over 66 or disabled</th>
          <td class="govuk-table__cell">£20 (if over 65)</td>
          <td class="govuk-table__cell">£22</td>
          <td class="govuk-table__cell">£23.80</td>
          <td class="govuk-table__cell">£24.50</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
        </tr>
      </tbody>
    </table>



    <table class="govuk-table govuk-!-margin-top-7">
      <caption class="govuk-table__caption govuk-table__caption--m">Trout, coarse fish and eel licence (up to 3 rods)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence length</th>
          <th scope="col" class="govuk-table__header">Price until 31 March 2023</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2023</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2024</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2025</th>
        </tr>
      </thead>
      <tbody>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell">£45</td>
          <td class="govuk-table__cell">£49.50</td>
          <td class="govuk-table__cell">£53.70</td>
          <td class="govuk-table__cell">£55.30</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - over 66 or disabled</th>
          <td class="govuk-table__cell">£30 (if over 65)</td>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£35.80</td>
          <td class="govuk-table__cell">£36.80</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
        </tr>
      </tbody>
    </table>


    <table class="govuk-table govuk-!-margin-top-7">
      <caption class="govuk-table__caption govuk-table__caption--m">Salmon and sea trout licence</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence length</th>
          <th scope="col" class="govuk-table__header">Price until 31 March 2023</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2023</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2024</th>
          <th scope="col" class="govuk-table__header">Price from 1 April 2025</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-day</th>
          <td class="govuk-table__cell">£12</td>
          <td class="govuk-table__cell">£12.60</td>
          <td class="govuk-table__cell">£13.20</td>
          <td class="govuk-table__cell">£13.50</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8-day</th>
          <td class="govuk-table__cell">£27</td>
          <td class="govuk-table__cell">£28.30</td>
          <td class="govuk-table__cell">£29.70</td>
          <td class="govuk-table__cell">£30.50</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell">£82</td>
          <td class="govuk-table__cell">£86.10</td>
          <td class="govuk-table__cell">£90.40</td>
          <td class="govuk-table__cell">£93.10</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - over 66 or disabled</th>
          <td class="govuk-table__cell">£54 (if over 65)</td>
          <td class="govuk-table__cell">£57.40</td>
          <td class="govuk-table__cell">£60.20</td>
          <td class="govuk-table__cell">£62.00</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
        </tr>
      </tbody>
    </table>












    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Licence prices from 1 April 2023</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence type</th>
          <th scope="col" class="govuk-table__header">Trout and coarse up to 2-rod</th>
          <th scope="col" class="govuk-table__header">Trout and coarse 3-rod</th>
          <th scope="col" class="govuk-table__header">Salmon and sea trout</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-day</th>
          <td class="govuk-table__cell">£6.60</td>
          <td class="govuk-table__cell">Not available</td>
          <td class="govuk-table__cell">£12.60</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8-day</th>
          <td class="govuk-table__cell">£13.20</td>
          <td class="govuk-table__cell">Not available</td>
          <td class="govuk-table__cell">£28.30</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£49.50</td>
          <td class="govuk-table__cell">£86.10</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - over 65 or disabled</th>
          <td class="govuk-table__cell">£22</td>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£57.40</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
        </tr>
      </tbody>
    </table> -->



    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Licence prices from 1 April 2023</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence type</th>
          <th scope="col" class="govuk-table__header">Trout and coarse up to 2-rod</th>
          <th scope="col" class="govuk-table__header">Trout and coarse 3-rod</th>
          <th scope="col" class="govuk-table__header">Salmon and sea trout</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-day</th>
          <td class="govuk-table__cell">£6.60</td>
          <td class="govuk-table__cell">Not available</td>
          <td class="govuk-table__cell">£12.60</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8-day</th>
          <td class="govuk-table__cell">£13.20</td>
          <td class="govuk-table__cell">Not available</td>
          <td class="govuk-table__cell">£28.30</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£49.50</td>
          <td class="govuk-table__cell">£86.10</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - over 65 or disabled</th>
          <td class="govuk-table__cell">£22</td>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£57.40</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
        </tr>
      </tbody>
    </table> -->

  </div>
</div>

{% endblock %}
