{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "How long do you want your licence for?" %}
{% else %}
  {% set title = "How long do they want the licence for?" %}
{% endif %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">






          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                Licence prices are going up
              </p>
              <p class="govuk-body">
                From 1st April 2023 there will be a small increase to licence prices. <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">See licence price increases (opens in new tab)</a>
              </p>

              <!-- <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    See licence price increases
                  </span>
                </summary>
                <div class="govuk-details__text full-width">

                  <table>
                    <thead>
                      <tr>
                        <th scope="col">Licence type</th>
                        <th scope="col">Trout and coarse up to 2-rod</th>
                        <th scope="col">Trout and coarse 3-rod</th>
                        <th scope="col">Salmon and sea trout</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1-day</th>
                        <td>£6</td>
                        <td>Not available</td>
                        <td>£12</td>
                      </tr>
                      <tr>
                        <th scope="row">8-day</th>
                        <td>£12</td>
                        <td>Not available</td>
                        <td>£27</td>
                      </tr>
                      <tr>
                        <th scope="row">12-month</th>
                        <td>£30</td>
                        <td>£45</td>
                        <td>£82</td>
                      </tr>
                      <tr>
                        <th scope="row">12-month - over 65 or disabled</th>
                        <td>£20</td>
                        <td>£30</td>
                        <td>£54</td>
                      </tr>
                      <tr>
                        <th scope="row">12-month - junior (13 to 16)</th>
                        <td>Free</td>
                        <td>Free</td>
                        <td>Free</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details> -->
            </div>
          </div>







      <form action="licence-summary" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-length" name="licence-length" type="radio" value="12 month" data-aria-controls="conditional-licence-length">
                <label class="govuk-label govuk-radios__label" for="licence-length">
                   12 months
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-length-2" name="licence-length" type="radio" value="8 day" data-aria-controls="conditional-licence-length-2">
                <label class="govuk-label govuk-radios__label" for="licence-length-2">
                  8 days
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-length-2">
                <div class="govuk-form-group">
                  <p class="govuk-body">
                    8 day licences are valid for 8 consecutive days from the start time that you select.
                  </p>
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-length-3" name="licence-length" type="radio" value="1 day" data-aria-controls="conditional-licence-length-3">
                <label class="govuk-label govuk-radios__label" for="licence-length-3">
                   1 day
                </label>

              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-length-3">
                <div class="govuk-form-group">
                  <p class="govuk-body">
                    1 day licences are valid for 24 hours from the start time that you select.
                  </p>
                </div>
              </div>


            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
