{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "Do you want to go paperless?" %}
{% else %}
  {% set title = "Do you want to go paperless?" %}
{% endif %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/multibuy-check-licence-option" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                <!-- {{ title }}--> How do you want to get your fishing licence?
              </h1>
            </legend>

            <p class="govuk-body">
              Getting a licence by email or text message helps the environment by reducing the paper we use and means we can invest more money in fishing.
            </p>

            <!-- the version that was too bullety -->
            <!-- {% if data['licenceFor'] == "user" %}
              <p class="govuk-body">
                If you get your licence by email or text message you'll:
              </p>
            {% else %}
              <p class="govuk-body">
                Getting a licence by email or text message will:
              </p>
            {% endif %}

            <ul class="govuk-list govuk-list--bullet">
              <li>help the environment by reducing paper use</li>
              <li>help us to save money, which we can invest in fishing</li>
            </ul> -->

            <!-- radios -->
            <div class="govuk-radios">
              <!-- radio 1 -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-option-digital" name="licence-option" type="radio" value="digital" aria-describedby="licence-option-digital-hint">
                <label class="govuk-label govuk-radios__label" for="licence-option-digital">
                  By email or text message
                </label>
                <div id="licence-option-digital-hint" class="govuk-hint govuk-radios__hint">
                    The email or text message is proof of your fishing licence.
                </div>
              </div>
              <!-- radio 2 -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-option-paper" name="licence-option" type="radio" value="paper-licence" aria-describedby="licence-option-paper-hint">
                <label class="govuk-label govuk-radios__label" for="licence-option-paper">
                  By post
                </label>
                   <div id="licence-option-digital-hint" class="govuk-hint govuk-radios__hint">
                    A fishing licence card will be posted within 15 working days. You can fish from the start date and time you have selected and do not need to wait for the card to arrive.
                  </div>
                </div>
              </div>
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>

          </fieldset>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
