{% extends "layout.html" %}

{% set title = "Enter card details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<!--
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <form action="payment-confirmation" method="post" class="form" id="payment">

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
          Card number
        </label>
        <input class="govuk-input govuk-input--width-10" id="card-number" name="card-number" type="text"><br>
        <img src="/public/images/accepted-cards.png" alt="credit card icons showing visa, mastercard and maestro" width="160px;" style="padding-top:5px;">
        <p class="govuk-body govuk-hint">
          Accepted credit and  debit card types
        </p>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <label class="govuk-label govuk-date-input__label" for="expiry-date">
            Expiry date
          </label>
          <span id="expiry-date-hint" class="govuk-hint">
            For example, 10/20
          </span>
          <div class="govuk-date-input" id="expiry-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
          Name on card
        </label>
        <input class="govuk-input govuk-input--width-30" id="card-number" name="card-number" type="text">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <label class="govuk-label govuk-date-input__label" for="expiry-date">
            Card security code
          </label>
          <span id="expiry-date-hint" class="govuk-hint">
            The last 3 digits on the back of the card
          </span>
          <div class="govuk-date-input" id="expiry-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                <img src="/public/images/security-code.png" alt="diagram showing the back of a credit card" width="85px" style="margin-bottom:-19px;">
              </div>
            </div>
          </div>

        </fieldset>
      </div>

      <hr class="hr--light govuk-!-margin-bottom-5">

      <h2 class="govuk-heading-l">
        Billing address
      </h2>

      {{ govukInput({
        label: {
          text: "Country"
        },
        classes: "govuk-input--width-20",
        id: "country",
        value: "England",
        name: "country",
        inputmode: "text",
        pattern: "[A-Z]*",
        attributes: {
          spellcheck: "false"
        }
      }) }}

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Building number or name and street
        </label>
        <input class="govuk-input govuk-input--width-30 govuk-!-margin-bottom-2" id="address-line-1" name="address-line-1" type="text" value="2A BAILEY HOUSE">
        <input class="govuk-input govuk-input--width-30" id="address-line-2" name="address-line-2" type="text" value="BAILEY ROAD">
      </div>

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-input--width-20",
        id: "town",
        value: "Bristol",
        name: "town",
        inputmode: "text",
        pattern: "[A-Z]*",
        attributes: {
          spellcheck: "false"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "address-postcode",
        value: "BS2 1PP",
        autocomplete: "postal-code"
      }) }}

      <hr class="hr--light govuk-!-margin-bottom-5">

      <h2 class="govuk-heading-l">
        Payment contact details
      </h2>

      <p class="govuk-body">
        We will send your payment confirmation here
      </p>

      {{ govukInput({
        label: {
          text: "Email"
        },
        classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
        id: "email",
        value: "sam-baiter@gmail.com",
        name: "email",
        inputmode: "text",
        pattern: "[A-Z]@*",
        attributes: {
          spellcheck: "false"
        }
      }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

      <p class="govuk-body">
        <a href="#">
          Cancel payment
        </a>
      </p>

    </form>

  </div>
</div>

{% endblock %}
