{% extends "layout.html" %}

{% set title = "Payment complete" %}

<!-- grab data from allLicences -->
{% set allLicences = data['allLicences'] %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">

        <span class="govuk-panel__title">£60</span>
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>

        <div class="govuk-panel__body">
          <div class="govuk-!-margin-bottom-6">
            You have <span class="govuk-!-font-weight-bold">{{ allLicences.length }} licences</span>
          </div>

          <!-- licence instance -->
          {% for i in allLicences %}

            <div class="govuk-!-margin-bottom-6">
              <div class="govuk-!-margin-bottom-3">
                <!-- {{ loop.index0 }} -->
                {{ i.firstName }} {{ i.lastName }}
              </div>

              <strong>
                {{ data['licenceNumbers'][loop.index0] }}
              </strong><br>
              {% if data['midnight'] %}
                Starts from {% include "includes/clip/midnight.html" %} on 12 May 2022
              {% else %}
                Starts from {{ data['times'][loop.index0] }} on 12 May 2022
              {% endif %}

            </div>

          {% endfor %}

        </div>
      </div>

      {% if data['licence-option'] == "digital" %}
        <p class="govuk-body">
          Licence holders can fish from the time and date their licence starts.
        </p>
        <p class="govuk-body">
          Licences have been sent by email or text message.
        </p>
      {% else %}
        <p class="govuk-body">
          Licence holders can fish from the time and date the licence starts. They do not need to wait to get their licence card.
        </p>
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h2 class="govuk-heading-l">Before fishing</h2>

      <div class="govuk-!-margin-bottom-9">

        <p class="govuk-body">
          <!-- It’s important licence holders know their licence number. Screenshots or print outs can be used to show licence information. -->
          It’s important licence holders know their licence number.
        </p>

        <form action="licence-information">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            View licence information
          </button>
        </form>

        {% if data['licence-option'] == "paper-licence" %}

          <p class="govuk-body">
            If you gave us an email address, we have sent a message that includes your licence information.
          </p>

            <!-- <div class="govuk-inset-text">
              Make a record of your licence number.
            </div> -->

            <div class="govuk-body">
              Make a record of your licence number.
            </div>

        {% endif %}


        <p class="govuk-body govuk-!-margin-bottom-9">
          If an enforcement officer asks to see your licence, you'll need to give them these details.
        </p>

        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">rod fishing byelaws (opens in new tab)</a>.
        </p>

        <p class="govuk-body">
          <a href="https://www.gov.uk/government/publications/fisheries-annual-report-2019-to-2020/fisheries-annual-report-2019-to-2020" class="govuk_link">Read the Fisheries annual report 2019 to 2020</a> to find out how we spend licence money.
        </p>

      </div>

      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link">Tell us what you think of the service</a> (takes 30 seconds)
      </p>

    </div>
  </div>

{% endblock %}
