{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
{% set title = "When would you like your licence to start?" %}
{% else %}
{% set title = "When should the licence start?" %}
{% endif %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- debug / show data -->
    {% include "includes/clip/debug.html" %}






    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Licence prices are changing
        </p>
        <p class="govuk-body">
          Rod fishing licences starting on or after 1 April 2023 are increasing in price. <a href="licence-price-increase" class="govuk-link" rel="noreferrer noopener" target="_blank">See licence price increases (opens in new tab)</a>
        </p>
      </div>
    </div>










    <form action="licence-type">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="licence-start-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{ title }}
            </h1>
          </legend>

          <p class="govuk-body">
            The licence can start today or any day within the next 30 days.
          </p>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="licence-start" name="licence-start" type="radio" value="email" data-aria-controls="conditional-licence-start">
              <label class="govuk-label govuk-radios__label" for="licence-start">
                30 minutes after payment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="licence-start-2" name="licence-start" type="radio" value="phone" data-aria-controls="conditional-licence-start-2">
              <label class="govuk-label govuk-radios__label" for="licence-start-2">
                Later
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-start-2">
              <div class="govuk-form-group">
                <p class="govuk-body">
                  (calendar input)
                </p>

              </div>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
