{% extends "layout.html" %}

{% set title = "Confirm your recurring payment" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>


        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [

            {
              key: {
                text: "Cost"
              },
              value: {
                html: "£30"
              },
              actions: {
                items: [

                ]
              }
            },
            {
              key: {
                text: "Payment date?"
              },
              value: {
                text: "(what extra details do we need to confirm for a recurring payment)"
              },
              actions: {
                items: [

                ]
              }
            },
            {
              key: {
                text: "Card number"
              },
              value: {
                text: "•••• •••• •••• 7418"
              },
              actions: {
                items: [

                ]
              }
            },
            {
              key: {
                text: "Expiry date"
              },
              value: {
                text: "May 2023"
              },
              actions: {
                items: [

                ]
              }
            },
            {
              key: {
                text: "Name on card"
              },
              value: {
                text: "Sam Fisher"
              },
              actions: {
                items: [

                ]
              }
            },
            {
              key: {
                text: "Billing address"
              },
              value: {
                html: "72 Guild Street<br>London<br>SE23 6FH"
              },
              actions: {
                items: [

                ]
              }
            }
          ]
        }) }}




      <form action="payment-complete" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Confirm payment"
        }) }}

        <br>

        <a href="add-another-licence">
          Cancel payment
        </a>

      </form>

    </div>
  </div>



{% endblock %}
