{% extends "layout.html" %}

{% set title = "Payment complete" %}

<!-- grab data from allLicences -->
{% set allLicences = data['allLicences'] %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">

        <span class="govuk-panel__title">£60</span>
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>

        <div class="govuk-panel__body">
          <div class="govuk-!-margin-bottom-6">
            You have <span class="govuk-!-font-weight-bold">{{ allLicences.length }} licences</span>
          </div>

          <!-- licence instance -->
          {% for i in allLicences %}

            <div class="govuk-!-margin-bottom-6">
              <div class="govuk-!-margin-bottom-3">
                <!-- {{ loop.index0 }} -->
                {{ i.firstName }} {{ i.lastName }}
              </div>

              <strong>
                {{ data['licenceNumbers'][loop.index0] }}
              </strong><br>
              {% if data['midnight'] %}
                Starts from {% include "includes/clip/midnight.html" %} on 12 May 2022
              {% else %}
                Starts from {{ data['times'][loop.index0] }} on 12 May 2022
              {% endif %}

            </div>

          {% endfor %}

        </div>
      </div>
      <form action="licence-information">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          View licence details
        </button>
      </form>

      {% if data['licence-option'] == "digital" %}
        <p class="govuk-body">
          Licence holders can fish from the time and date their licence starts.
        </p>
        <p class="govuk-body">
          Licences have been sent by email or text message.
        </p>
      {% else %}
        <p class="govuk-body">
          If the paperless licence option has been selected, the licence will be sent by text or email. If the licence card option has been selected, the licence card will arrive in the post within 15 working days.</p>
          <p class="govuk-body">
            Licences holders can fish from the start date and time on the licence and do not have to wait for the licence card to arrive.</p>
            <p class="govuk-body">
              The licence number must be provided to an enforcement officer when requested.</p>
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      <div class="govuk-!-margin-bottom-9">





        {% if data['licence-option'] == "paper-licence" %}

          <p class="govuk-body">
            If you gave us an email address, we have sent a message that includes your licence information.
          </p>

            <!-- <div class="govuk-inset-text">
              Make a record of your licence number.
            </div> -->

            <div class="govuk-body">
              Make a record of your licence number.
            </div>

        {% endif %}




        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">rod fishing byelaws (opens in new tab)</a>.
        </p>

        <p class="govuk-body">
          <a href="https://www.gov.uk/government/publications/fisheries-annual-report-2019-to-2020/fisheries-annual-report-2019-to-2020" class="govuk_link">Read the Fisheries annual report 2019 to 2020</a> to find out how we spend licence money.
        </p>



      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link">Tell us what you think of the service</a> (takes 30 seconds)
      </p>
      </div>

    </div>
  </div>

{% endblock %}
