{% extends "layout.html" %}

{% set title = "Payment complete: £33" %}

<!-- grab data from allLicences -->
{% set allLicences = data['allLicences'] %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">

        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>

        <div class="govuk-panel__body">
          <div class="govuk-!-margin-bottom-6">
            Licence number:
            <div class="govuk-!-font-weight-bold govuk-!-margin-top-3">09120722-2WS2FJF-3JJS32</div>
            <br>
            <span>Valid from:</span>
            <div class="govuk-!-font-weight-bold govuk-!-margin-top-3">11pm on 30 June 2023</div> 
          </div>
        </div>
      </div>



    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <!-- <form action="licence-information">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          View licence details
        </button>
      </form>
 -->


<h2 class="govuk-heading-m">View your licence details</h2>


 <p class="govuk-body">
   <a href="/gafl-multibuy-accordion/licence-information-static" class="govuk-link">View your licence details</a>
 </p>

  <p class="govuk-body">
          Your licence will arrive in the post within 15 working days. You can fish from the date and time selected and do not need to wait for a licence to arrive.</p>

<h2 class="govuk-heading-m">Future licence payments</h2>

  <p class="govuk-body">
          You will get a letter confirming your recurring card payment agreement. You can <a href="">cancel the future licence payments now</a> if you have changed your mind, or cancel later using the details in the letter.
        </p>

<h2 class="govuk-heading-m">When fishing</h2>

        <p class="govuk-body">
          An enforcement officer may ask if you are covered by a valid fishing licence. If you are waiting for your licence to arrive in the post, you can tell them your fishing licence number or show a printout or screenshot of <a href="/gafl-multibuy-accordion/licence-information-static" class="govuk-link">your licence details</a>.
        </p>

        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">national and local fishing byelaws (opens in new tab)</a>.
        </p>

<h2 class="govuk-heading-m">Help us improve this service</h2>
      
      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link">Tell us what you think of the service</a> (takes 30 seconds)
      </p>

      <h2 class="govuk-heading-m">How we spend fishing licence income</h2>
      
      <p class="govuk-body">
        Read the latest <a href="https://www.gov.uk/government/publications/fisheries-annual-report-2021-to-2022/fisheries-annual-report-2021-to-2022" class="govuk-link" target="_blank">fisheries annual report (opens in new tab)</a> to find out how we spend the money from fishing licence sales.</p>

    </div>
  </div>


{% endblock %}