{% extends "layout.html" %}

{% set title = "Recurring card payments: terms and conditions" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="gov-body">A recurring card payment is an automatic debit or credit card payment taken with your agreement to pay securely for your future fishing licences.</p>

      <h2 class="govuk-heading-m">Payments</h2>

      <p class="govuk-body">You can give consent to set up automatic card payments for future 12-month fishing licences when buying a licence online.</p> 
      <p>Our payment service provider (Worldpay) will take payments (in pounds) until you tell us or your bank to stop them. Payments will appear as 'Get a Fishing Licence' on your bank statement.</p>
      <p class="govuk-body">Payments will be taken annually before your new licence is issued.</p>
      <p class="govuk-body">The cost of a future 12-month fishing licence may change. For example, the cost may be higher because of a service-wide price increase, or lower if you become eligible for a senior licence.</p>
      <p class="govuk-body">If an automatic payment fails, we will contact you so you can arrange to buy another licence if you want to continue to fish.</p>


      <h2 class="govuk-heading-m">Payment reminders</h2>
      <p class="govuk-body">Before taking an automatic payment, we will tell you the payment amount using the contact details you have provided.</p>
   
      <p class="govuk-body">If your contact details change, contact us to update your details by emailing <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a> or phoning 03708 506 506 (Monday to Friday, 8am to 6pm, <a href="https://www.gov.uk/call-charges">find out about call charges</a>).</p>

      <h2 class="govuk-heading-m">Refunds and cancellation</h2>

      <p class="govuk-body">To request a refund within 14 days of buying a licence, see <a href="https://get-fishing-licence.service.gov.uk/guidance/refund-policy">the refund policy</a>.</p>
      <p class="govuk-body">To cancel automatic payments at any time, you can use the cancellation link in your confirmation or payment reminder email or text. 

      <p class="govuk-body">You can also cancel automatic payments by emailing <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a> or phoning 03708 506 506 (Monday to Friday, 8am to 6pm, <a href="https://www.gov.uk/call-charges">find out about call charges</a>). Contact us by phone to cancel a payment that is due to be taken in the next 14 days.</p></p> 

      <p>If you cancel an automatic payment through your bank, we may not know about this until we try to take the payment.</p>
      <p class="govuk-body">If you would like to change the number of rods or type of fish covered by your licence, you will need to cancel your automatic payment and buy a new licence.</p>
      <p class="govuk-body">If you become eligible for a disabled concession, you can cancel your next automatic payment and buy a new licence at a reduced price.</p>

      <h2 class="govuk-heading-m">Data security</h2>

      <p>We will store and use your data following our <a href="https://get-fishing-licence.service.gov.uk/guidance/privacy-policy">privacy policy</a>.</p>
<!--
      <h2 class="govuk-heading-m">Contact us</h2>


      <p>Contact us by phone to cancel a payment that is due to be taken in the next 14 days.</p>

      <div class="govuk-inset-text">
       Environment Agency
      <br>Email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
      <br>Phone: 03708 506 506 (Monday to Friday, 8am to 6pm)
      <br><a href="https://www.gov.uk/call-charges">Find out about call charges</a>

<!--
       <ul class="govuk-list govuk-list--bullet">
        <li>a payment will be taken immediately for your 12-month licence</li>
        <li>when your licence expires, a future payment will be taken by your card provider every year to cover the cost of renewing your 12-month licence</li>
        <li>another term - how we will remind them a payment is about to be taken</li>
        <li>another term - in what circumstances can the price changes</li>
        <li>another term - how to cancel or get a refund</li>
        <li>another term - what happens if the card expires</li>
        <li>another term - something else the user needs to know</li>
        <li>another term - something else the user needs to know</li>
      </ul> -->

    </div>
  </div>

{% endblock %}

