
{% extends "layout.html" %}

{% set title = "Set up a recurring card payment" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    {% if data['rptermserror'] == 10 %}

    <!-- error summary -->
    {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
          {
            text: "Select if you agree to set up recurring card payments",
            href: "#rp-terms"
          }
          ]
        }) }}

    {% endif %}

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="gov-body">Setting up a recurring card payment means you understand and agree that:</p>

<ul class="govuk-list govuk-list--bullet">
        <li>a payment of £33 will be taken now for your 12-month trout and coarse (2 rod) fishing licence</li>
        <li>future payments will be taken automatically to cover the cost of renewing your 12-month licence</li>
        <li>you can cancel these payments at any time</li>
        <li>the future cost of a 12-month licence may change</li>
        <li>we will send you an email showing the licence cost before the next payment is taken</li>
        <li>card payments will be taken following these <a href="rp-terms-standalone" target="_blank">terms and conditions (opens in new tab)</a>
      
      </ul>
     

      <form action="/rpTerms" method="post" class="form">
          {% if data['rptermserror'] == 10 %}
          <div class="govuk-form-group govuk-form-group--error">
            <span class="govuk-error-message" id="question">
              <span class="govuk-visually-hidden">Error:</span> Select if you agree to set up recurring card payments
            </span>
            {% else %}
            <div class="govuk-form-group">
              {% endif %}
              <fieldset class="govuk-fieldset" aria-describedby="terms-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="rp-terms" name="rp-terms" type="checkbox" value="agreed">
                    <label class="govuk-label govuk-checkboxes__label" for="rp-terms">
                      I agree to set up a recurring card payment
                    </label>
                  </div>
              </fieldset>
            </div>

      <form action="">
        <button class="govuk-button" data-module="govuk-button">
          Agree and continue
        </button>
      </form>

       <p class="govuk-body">
        <a href=>Or go back and choose to pay for a single licence</a>
      </p>

    </div>
  </div>

{% endblock %}

