// all print styles

@media screen {
  .print-only {
    display: none;
  }
}

@media print {

  @page {
    // size: A4;
    margin: 0mm; /* this affects the margin in the printer settings */
  }

  .govuk-summary-list {
    width: 16cm;
  }

  .no-print {
    display: none;
  }

  .print-only {
    display: inline;
  }

  .pagebreak {
    // page-break-after: always;
    position: relative;
    // top: 3cm;
    top: 0.5cm;
  }

  .pagebreak:last-child {
     page-break-after: auto;
  }

  h1,
  section h2,
  section p {
    // font-family: Georgia, serif;
  }

  .govuk-heading-l {
    // font-family: Georgia, serif;
    font-size: 18pt;
  }

  .govuk-body,
  .govuk-summary-list {
    // font-family: Georgia, serif;
    font-size: 12pt;
  }

  .govuk-grid-column-two-thirds {
    width: 100%;
  }

  // general good print practice

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  table, figure {
    page-break-inside: avoid;
  }

}


/*

Further reading

https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/
https://developer.mozilla.org/en-US/docs/Web/CSS/page-break-after

*/
