{% extends "layout.html" %}

{% set title = "GOV.UK page" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      <!-- debug / show data -->
      {% include "includes/clip/debug.html" %}

        <h1 class="govuk-heading-l">{{ title }}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Cancel a recurring card payment agreement</h2>
          <p class="govuk-body">
          You can cancel a recurring card payment for your next fishing licence up until the day before payment is due to be taken. <a href="rcp-cancel_enter-details">Cancel your recurring card payment online</a> or call the Environment Agency. You will need your current licence number and postcode.</p>
       <p>Environment Agency   <br>
<a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br>
Telephone: 03708 506 506<br>
Monday to Friday, 8am to 6pm (except public holidays)<br>
<a href="/call-charges">Find out about call charges</a></p>
    </div>
  </div>

{% endblock %}
