{% extends "layout.html" %}


{% if data['licence-option'] == "digital" %}

  {% if data['licenceBy'] == "email" %}
    {% set title = "Is your email address correct?" %}
  {% else %}
    {% set title = "Is your phone number correct?" %}
  {% endif %}

{% else %}

  {% if data['licence-confirmation'] == "email" %}
    {% set title = "Is your email address correct?" %}
  {% else %}
    {% set title = "Is your phone number correct?" %}
  {% endif %}

{% endif %}


{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- debug / show data -->
      {% include "includes/clip/debug.html" %}

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <form action="contact-preference">

        {% if data['licence-option'] == "digital" %}

          {% if data['licenceBy'] == "email" %}

            <p class="govuk-!-font-size-27">
              {{ data['licence-by-email'] }}
            </p>

            <p class="govuk-body govuk-!-margin-bottom-6">
              <a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state">
                Change this email address
              </a>
            </p>

          {% else %}

            <p class="govuk-!-font-size-27">
              {{ data['phone-number'] }}
            </p>

            <p class="govuk-body govuk-!-margin-bottom-6">
              <a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state">
                Change this phone number
              </a>
            </p>

          {% endif %}

        {% else %}

          {% if data['licence-confirmation'] == "email" %}

            <p class="govuk-!-font-size-27">
              {{ data['email'] }}
            </p>

            <p class="govuk-body govuk-!-margin-bottom-6">
              <a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state">
                Change this email address
              </a>
            </p>

          {% else %}

            <p class="govuk-!-font-size-27">
              {{ data['phone-number'] }}
            </p>

            <p class="govuk-body govuk-!-margin-bottom-6">
              <a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state">
                Change this phone number
              </a>
            </p>

          {% endif %}

        {% endif %}

        <button class="govuk-button" data-module="govuk-button">
          It’s correct
        </button>

      </form>

    </div>
  </div>

{% endblock %}
