{% extends "layout.html" %}

{% set title = "Check your contact details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#">feedback</a> will help us to improve the service.
    </span>
  </p>
</div>

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="terms-conditions">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['first-name'] + " " + data['last-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-name">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['found-address'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-find-address">
                Change<span class="govuk-visually-hidden"> licence length</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['licence-by'] == "email" %}
                Email to {{ data['licence-by-email'] }}
              {% elseif data['licence-by'] == "phone" %}
                Text message to {{ data['licence-by-text'] }}
              {% else %}
                By post
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-licence-option-a">
                Change<span class="govuk-visually-hidden"> licence details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">


              <!-- was working simple
              {% if data['contact'] == "email" %}
                Contact by email
              {% elseif data['contact'] == "phone" %}
                Contact by text message
              {% else %}
                Contact by post
              {% endif %} -->


              <!-- if the licence by is a digital option, hide post -->
              {% if data['licence-by'] == "email" or data['licence-by'] == "phone" %}
                <!-- show the digital preference -->
                {% if data['contact'] == "email" %}
                  Contact by email
                {% else %}
                  Contact by text message
                {% endif %}
              {% else %}
                <!-- show the preference -->
                {% if data['contact'] == "email" %}
                  Contact by email
                {% elseif data['contact'] == "phone" %}
                  Contact by text message
                {% else %}
                  Contact by post
                {% endif %}
              {% endif %}

            </dt>
            <dd class="govuk-summary-list__value">
              <!-- simple model
              {% if data['contact'] == "email" %}
                {{ data['licence-by-email'] }}
              {% elseif data['contact'] == "phone" %}
                {{ data['licence-by-text'] }}
              {% else %}
                By post
              {% endif %} -->


              <!-- <span class="govuk-hint">
                Licence set to {{ data['licence-by'] }}<br>
                Email address is {{ data['licence-by-email'] }}<br>

                Contact set to {{ data['contact'] }}<br>
                Phone number is {{ data['licence-by-phone'] }}<br>

                {{ data['contact-by-phone'] }}
                Licence by text is {{ data['licence-by-text'] }}
              </span> -->

              <!-- if the licence by is a digital option, sniff which kind -->
              {% if data['licence-by'] == "email" or data['licence-by'] == "phone" %}

                {% if data['contact'] == "email" %}
                  {{ data['licence-by-email'] }}
                {% else %}
                  {{ data['licence-by-text'] }}
                {% endif %}

              <!-- if the licence by is by post, the contact can be by any method -->
              {% else %}

                {% if data['contact'] == "email" %}
                  {{ data['contact-by-email'] }}
                {% elseif data['contact'] == "phone" %}
                  {{ data['contact-by-phone'] }}
                {% else %}
                  By post
                {% endif %}

              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-contact-preference">
                Change<span class="govuk-visually-hidden"> contact preference</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Newsletter
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['newsletter'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-newsletter">
                Change<span class="govuk-visually-hidden"> newsletter</span>
              </a>
            </dd>
          </div>

        </dl>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
