{% extends "layout.html" %}

{% set title = "How do you want your licence?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#">feedback</a> will help us to improve the service.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/check-licence-type" method="post" class="form">
      <!-- <form action="contact-preference"> -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="licence-option-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-option" name="licence-option" type="radio" value="digital" aria-describedby="licence-option-item-hint">
                <label class="govuk-label govuk-radios__label" for="licence-option">
                  Digital
                </label>
                <div id="licence-option-item-hint" class="govuk-hint govuk-radios__hint">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>licence information sent to you as a text or email</li>
                    <li>a positive impact on the environment by reducing paper</li>
                    <li>save more money to help fisheries</li>
                  </ul>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-option-2" name="licence-option" type="radio" value="paper-licence" aria-describedby="licence-option-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="licence-option-2">
                  Paper licence
                </label>
                <div id="licence-option-2-item-hint" class="govuk-hint govuk-radios__hint">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>You will receive the licence card in the post within 10 working days</li>
                    <li>information about your licence on your card</li>
                  </ul>
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
