{% extends "layout.html" %}

<!-- {% set title = "Licence number 16130122-2WC3JDD-AJ2H17" %} -->
{% set title = "16130122-2WC3JDD-AJ2H17" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#">feedback</a> will help us to improve the service.
    </span>
  </p>
</div>

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-l">{{ title }}</h1> -->

      <span class="govuk-caption-xl">Licence number</span>
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      <p class="govuk-body-l">
        You can use this as proof of licence.
      </p>

      <!-- licence details here -->

      <!-- table for licence information -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name']+" "+data['last-name'] }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['licence-type'] }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['licence-type'] === 'Trout and coarse, up to 3 rods' %}
             12 months
            {% else %}
              {% if data['licence-length'] %}
                {{ data['licence-length'] }}
              {% else %}
                12 months
              {% endif %}
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            January 20 2020, 7.30pm
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date
          </dt>
          <dd class="govuk-summary-list__value">
            January 20 2021, 7.30pm
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Disability concession
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">None</p>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- 2 rods -->
            {% if data['licence-type'] == "Trout and coarse, up to 2 rods" %}

              {% if data['licence-length'] == "12 months" %}
                <p class="govuk-body">£30</p>
              {% elseif data['licence-length'] == "8 days" %}
                <p class="govuk-body">£12</p>
              {% else %}
                <p class="govuk-body">£6</p>
              {% endif %}

            {% elseif data['licence-type'] == "Trout and coarse, up to 3 rods" %}
              <p class="govuk-body">£30</p>
            {% endif %}
          </dd>
        </div>
      </dl>

      <!-- <p class="govuk-body">
        You must follow the <a href="https://www.gov.uk/freshwater-rod-fishing-rules" class="govuk_link" target="_blank">rod fishing rules</a> and <a href="https://www.gov.uk/government/collections/local-fishing-byelaws" class="govuk_link" target="_blank">local fishing byelaws</a>.
      </p> -->

      <div class="govuk-inset-text">
        You must follow the rod fishing rules and local fishing byelaws.:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>https://www.gov.uk/freshwater-rod-fishing-rules</li>
            <li>https://www.gov.uk/government/collections/local-fishing-byelaws</li>
          </ul>
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Report incidents on 0800 807060<br>(24-hour service).
        </strong>
      </div>

    </div>
  </div>

{% endblock %}
