{% extends "layout.html" %}

{% set title = "Where should we send your fishing licence?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="contact-preference">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="licence-by-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>
            <p class="govuk-body">
              This is where we will send the licence after payment.
            </p>

            <div class="govuk-inset-text">
              <!-- <ul class="govuk-list govuk-list--bullet">
                <li>you will receive your licence information by email or text message only</li>
                <li>you will not receive a licence card</li>
                <li>your licence information can be used to verify your licence to enforcement officers</li>
              </ul> -->
              You will receive your licence information by email or text message only. You will not receive a licence card. Your licence information can be used to verify your fishing licence to enforcement officers.
            </div>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                {% if data['licence-by'] == "email" %}
                <input class="govuk-radios__input" id="licence-by-email-option" name="licence-by" type="radio" value="email" data-aria-controls="conditional-licence-by-email-option" checked>
                {% else %}
                <input class="govuk-radios__input" id="licence-by-email-option" name="licence-by" type="radio" value="email" data-aria-controls="conditional-licence-by-email-option">
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="licence-by-email-option">
                  Email
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-by-email-option">
                {% if data['email'] %}
                  <p class="govuk-body" for="licence-by-email-option">
                    We will email your licence information to <span class="govuk-!-font-weight-bold">{{ data['email'] }}</span>
                  </p>
                {% else %}
                <!-- input email -->
                <div class="govuk-form-group">
                  <label class="govuk-label" for="input-email">
                    Email address
                  </label>
                  <p class="govuk-hint">
                    For example name@example.com.
                  </p>
                  <input class="govuk-input govuk-!-width-two-thirds" id="input-email" value="{{ data['email'] }}" name="email" type="email" spellcheck="false">
                </div>
                {% endif %}
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-by-text-option" name="licence-by" type="radio" value="phone" data-aria-controls="conditional-licence-by-text-option">
                <label class="govuk-label govuk-radios__label" for="input-phone-number">
                  Text message
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-by-text-option">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="input-phone-number">
                    UK mobile phone number
                  </label>
                  <p class="govuk-hint">
                    For example 07700 900 900.
                  </p>
                  <input class="govuk-input govuk-!-width-one-third" id="input-phone-number" value="{{ data['phone-number'] }}" name="phone-number" type="tel">
                </div>
              </div>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
