{% extends "layout.html" %}

{% set title = "Payment complete" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#">feedback</a> will help us to improve the service.
    </span>
  </p>
</div>

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>
        <div class="govuk-panel__body">
          Your licence number<br><strong>16130122-2WC3JDD-AJ2H17</strong>
        </div>
      </div>

      <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->

      <!-- licence details here -->

      <h2 class="govuk-heading-l">Your licence information</h2>

      <!-- table for licence information -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['first-name'] %}
              {{ data['first-name']+" "+data['last-name'] }}
            {% else %}
              Sam Fisher
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['licence-type'] %}
              {{ data['licence-type'] }}
            {% else %}
              Trout and coarse, up to 2 rods
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['licence-type'] === 'Trout and coarse, up to 3 rods' %}
             12 months
            {% else %}
              {% if data['licence-length'] %}
                {{ data['licence-length'] }}
              {% else %}
                12 months
              {% endif %}
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            January 20 2020, 7.30pm
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date
          </dt>
          <dd class="govuk-summary-list__value">
            January 20 2021, 7.30pm
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Disability concession
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">None</p>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- 2 rods -->
            {% if data['licence-type'] == "Trout and coarse, up to 2 rods" %}

              {% if data['licence-length'] == "12 months" %}
                <p class="govuk-body">£30</p>
              {% elseif data['licence-length'] == "8 days" %}
                <p class="govuk-body">£12</p>
              {% else %}
                <p class="govuk-body">£6</p>
              {% endif %}

            {% elseif data['licence-type'] == "Trout and coarse, up to 3 rods" %}
              <p class="govuk-body">£30</p>

            {% else %}
              <p class="govuk-body">£30</p>
            {% endif %}
          </dd>

        </div>
      </dl>

      <h2 class="govuk-heading-l">Before you go fishing</h2>

      <div class="govuk-!-margin-bottom-9">

        <p class="govuk-body">
          You can go fishing before you get your licence card, but you must be able to confirm your licence details if asked by an enforcement officer.
        </p>

        <!-- <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Make a record of your licence number.
          </strong>
        </div> -->

        <div class="govuk-inset-text">
          Make a record of your licence number.
        </div>

        <!-- <p class="govuk-body">
          Get a <a href="#">PDF copy of your licence details</a>. If you gave us your email address, you’ll get a confirmation message that includes your licence number.
        </p> -->

        <p class="govuk-body">
          See <a href="licence-information">your licence information</a>. If you gave us your email address, you’ll get a confirmation message that includes your licence number.
        </p>

        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/freshwater-rod-fishing-rules" class="govuk_link" target="_blank">rod fishing rules (opens in a new tab)</a> and <a href="https://www.gov.uk/government/collections/local-fishing-byelaws" class="govuk_link" target="_blank">local fishing byelaws (opens in a new tab)</a>.
        </p>

      </div>

      <!-- <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Make a note of your licence number and you take it with you when you go fishing.
      </p> -->


      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link">Tell us what you think of the service</a> (takes 30 seconds)
      </p>

    </div>
  </div>

{% endblock %}
