{% extends "layout.html" %}

{% set title = "Confirm your payment" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Card number"
            },
            value: {
              text: "•••• •••• •••• 7418"
            },
            actions: {
              items: [

              ]
            }
          },
          {
            key: {
              text: "Expiry date"
            },
            value: {
              text: "May 2023"
            },
            actions: {
              items: [

              ]
            }
          },
          {
            key: {
              text: "Name on card"
            },
            value: {
              text: data['firstName'] + " " + data['last-name']
            },
            actions: {
              items: [

              ]
            }
          },
          {
            key: {
              text: "Billing address"
            },
            value: {
              html: "72 Guild Street<br>London<br>SE23 6FH"
            },
            actions: {
              items: [

              ]
            }
          }
        ]
      }) }}

      <form action="payment-complete" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Confirm payment"
        }) }}

        <br>

        <a href="#">
          Cancel payment
        </a>

      </form>

    </div>
  </div>



{% endblock %}
