{% extends "layout.html" %}

{% set title = "What do you want to do?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/service-start-routing" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <p class="govuk-body">
              You can get a new licence or renew an existing licence that has ended or is ending.
            </p>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option" name="option" type="radio" value="new" data-aria-controls="conditional-option">
                <label class="govuk-label govuk-radios__label" for="option">
                   Get a new rod fishing licence
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option-2" name="option" type="radio" value="renew" data-aria-controls="conditional-option-2">
                <label class="govuk-label govuk-radios__label" for="option-2">
                  Renew an existing fishing licence
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
