{% extends "layout.html" %}

{% block pageTitle %}
  Changes to rod fishing licence prices - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- debug / show data -->
    {% include "includes/clip/debug.html" %}



    <h1 class="govuk-heading-l">Changes to rod fishing licence prices</h1>

    <p class="govuk-body">The price of a rod fishing licence is increasing over 3 years from 1 April 2023 to provide vital funds to improve fisheries in England and Wales. Price changes will take effect based on the licence start date.</p>
    <p class="govuk-body">The age licence holders can get a discounted 12-month licence is also changing from age 65 to age 66 and over from 1 April 2023.</p>



    <table class="govuk-table govuk-!-margin-top-7">
      <caption class="govuk-table__caption govuk-table__caption--m">Trout and coarse fish licence (up to 2 rods)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence length</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price until 31 March 2023</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2023</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2024</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2025</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-day</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£6</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£6.60</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£7.10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£7.30</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8-day</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£12</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£13.20</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£14.30</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£14.70</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£30</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£33</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£35.80</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£36.80</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - senior or disabled</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£22</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£23.80</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£24.50</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
        </tr>
      </tbody>
    </table>



    <table class="govuk-table govuk-!-margin-top-7">
      <caption class="govuk-table__caption govuk-table__caption--m">Trout and coarse fish licence (up to 3 rods)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence length</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price until 31 March 2023</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2023</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2024</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2025</th>
        </tr>
      </thead>
      <tbody>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£45</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£49.50</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£53.70</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£55.30</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - senior or disabled</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£30</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£33</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£35.80</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£36.80</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
        </tr>
      </tbody>
    </table>


    <table class="govuk-table govuk-!-margin-top-7">
      <caption class="govuk-table__caption govuk-table__caption--m">Salmon and sea trout licence</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence length</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price until 31 March 2023</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2023</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2024</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Price from 1 April 2025</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-day</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£12</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£12.60</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£13.20</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£13.50</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8-day</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£27</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£28.30</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£29.70</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£30.50</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£82</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£86.10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£90.40</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£93.10</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - senior or disabled</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£54</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£57.40</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.20</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£62.00</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Free</td>
        </tr>
      </tbody>
    </table>












    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Licence prices from 1 April 2023</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence type</th>
          <th scope="col" class="govuk-table__header">Trout and coarse up to 2-rod</th>
          <th scope="col" class="govuk-table__header">Trout and coarse 3-rod</th>
          <th scope="col" class="govuk-table__header">Salmon and sea trout</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-day</th>
          <td class="govuk-table__cell">£6.60</td>
          <td class="govuk-table__cell">Not available</td>
          <td class="govuk-table__cell">£12.60</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8-day</th>
          <td class="govuk-table__cell">£13.20</td>
          <td class="govuk-table__cell">Not available</td>
          <td class="govuk-table__cell">£28.30</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£49.50</td>
          <td class="govuk-table__cell">£86.10</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - over 65 or disabled</th>
          <td class="govuk-table__cell">£22</td>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£57.40</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
        </tr>
      </tbody>
    </table> -->



    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Licence prices from 1 April 2023</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Licence type</th>
          <th scope="col" class="govuk-table__header">Trout and coarse up to 2-rod</th>
          <th scope="col" class="govuk-table__header">Trout and coarse 3-rod</th>
          <th scope="col" class="govuk-table__header">Salmon and sea trout</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1-day</th>
          <td class="govuk-table__cell">£6.60</td>
          <td class="govuk-table__cell">Not available</td>
          <td class="govuk-table__cell">£12.60</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8-day</th>
          <td class="govuk-table__cell">£13.20</td>
          <td class="govuk-table__cell">Not available</td>
          <td class="govuk-table__cell">£28.30</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month</th>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£49.50</td>
          <td class="govuk-table__cell">£86.10</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - senior or disabled</th>
          <td class="govuk-table__cell">£22</td>
          <td class="govuk-table__cell">£33</td>
          <td class="govuk-table__cell">£57.40</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12-month - junior (13 to 16)</th>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
          <td class="govuk-table__cell">Free</td>
        </tr>
      </tbody>
    </table> -->

  </div>
</div>

{% endblock %}
