{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "When would you like your licence to start?" %}
{% else %}
  {% set title = "When should the licence start?" %}
{% endif %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- debug / show data -->
      {% include "includes/clip/debug.html" %}

      <form action="licence-type">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="licence-start-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <p class="govuk-body">
              The licence can start today or any day within the next 30 days.
            </p>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-start" name="licence-start" type="radio" value="email" data-aria-controls="conditional-licence-start">
                <label class="govuk-label govuk-radios__label" for="licence-start">
                   30 minutes after payment
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-start-2" name="licence-start" type="radio" value="phone" data-aria-controls="conditional-licence-start-2">
                <label class="govuk-label govuk-radios__label" for="licence-start-2">
                  Later
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-start-2">
                <div class="govuk-form-group">
                  <p class="govuk-body">
                    <p class="govuk-body-m">Enter today’s date if you want the 1 or 8 day licence to start later today.</p>
                    <div class="govuk-form-group">
                      <div id="licence-start-date-hint" class="govuk-hint">
                        Enter a date up to and including <span>01 07 2022</span>
                      </div>
                      <div class="govuk-date-input" id="licence-start-date">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="licence-start-date-day">
                            day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="licence-start-date-day" name="licence-start-date-day" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="licence-start-date-month">
                            month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="licence-start-date-month" name="licence-start-date-month" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="licence-start-date-year">
                            year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="licence-start-date-year" name="licence-start-date-year" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4">
                          </div>
                        </div>
                        <div id="cal-image-div" aria-hidden="true" class="flatpickr-input" readonly="readonly"><img src="/public/images/icon-calendar-2x.png" alt="Click to open date picker"></div>
                      </div>
                    </div>
                  </p>

                </div>
              </div>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
  <script type="text/javascript">
  window.addEventListener('load', function() {
    const oneMonthFromNow = new Date()
    oneMonthFromNow.setUTCMonth(oneMonthFromNow.getUTCMonth() + 1)
    const oneMonthFromNowDisplay = new Intl.DateTimeFormat('en-GB', { dateStyle: 'short' }).format(oneMonthFromNow)
    $('#licence-start-date-hint > span').first().text(oneMonthFromNowDisplay)
  })

  </script>

{% endblock %}
