{% extends "layout.html" %}

{% set title = "Retrieve the previous licence details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Buy a fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <h2 class="govuk-heading-m">
      The licence you wish to renew
    </h2>

    {{ govukInput({
      label: {
        text: "Enter the last 6 digits of the licence number"
      },
      classes: "govuk-input--width-10",
      hint: {
        text: "Your licence number is printed on any correspondence from us. It also appears on the back of your licence card. For example, B7A720"
      },
      id: "licence-number",
      name: "licence-number",
      inputmode: "text",
      pattern: "[A-9]*",
      attributes: {
        spellcheck: "false"
      }
    }) }}

    <h2 class="govuk-heading-m">
      Licence holder details
    </h2>

    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {

      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Post code"
      },
      classes: "govuk-input--width-10",
      hint: {
        text: "For example, WA4 1AB"
      },
      id: "account-number",
      name: "account-number",
      inputmode: "numeric",
      pattern: "[0-9]*",
      attributes: {
        spellcheck: "false"
      }
    }) }}

    <form action="licence-details" method="post" class="form" id="authenticate">

      <button type="submit" class="govuk-button govuk-!-margin-bottom-1">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
