{% extends "layout-renew.html" %}

{% set title = "What is your Blue Badge number?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p class="govuk-!-margin-bottom-7">
      We use your this infomration to find your Blue Badge details, so that you can get a disabled concession.
    </p>

    {{ govukInput({
      label: {
        text: "Blue Badge Number"
      },
      classes: "govuk-!-width-one-half",
      hint: {
        html: "This will be on your badge"
      },
      id: "event-name",
      name: "event-name"
    }) }}

    <form action="renew-from?concession=true" method="post" class="form" id="blue-badge">
      <button type="submit" class="govuk-button govuk-!-margin-bottom-1">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
