{% extends "layout.html" %}

{% set title = "Calculate your adult licence" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Buy a fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Which fishing licence do I need?
    </span>
  </summary>
  <div class="govuk-details__text">
    A trout and coarse licence allows you to fish for all freshwater fish, but not for salmon or sea trout.
<br /> <br />
    A salmon and sea trout licence allows you to fish for salmon and sea trout as well as all freshwater fish included in the trout and coarse licence.
<br /> <br />
Only the licence holder is licenced to use the rods.
  </div>
</details>

    <div class="govuk-form-group">
      <label class="govuk-label" for="type" >
        Type
      </label>
      <select class="govuk-select" id="type" name="sort">
        <option value="tc2" selected>Trout and coarse, up to 2 rods</option>
        <option value="tc3">Trout and coarse, up to 3 rods</option>
        <option value="sst">Salmon and sea trout (All species)</option>
      </select>
      <br />
      <br />
      <br />
      <label class="govuk-label" for="sort">
        Length
      </label>
      <select class="govuk-select" id="length" name="sort">
        <option value="12" selected>12 months</option>
        <option value="8">8 days</option>
        <option value="1">1 day</option>
      </select>


    </div>

<p><b>Price:</b></p>
<p id="price">£30</p>
      <button id="buy" type="submit" class="govuk-button" onclick="window.location.href='https://www.figma.com/proto/L8wBV2vBKLAzgNtlVAfjJW/GAFL-Main-journey?node-id=175%3A2828&viewport=1927%2C-325%2C0.125&scaling=min-zoom'">
        Buy this licence
      </button>

      <script type="text/javascript">
        var age = "Adult";
        var length = document.getElementById('length');
        var type = document.getElementById('type');
        var input = document.getElementById('price');

        //IF TYPE IS CHANGED...
        type.onchange = function() {
          //If child..
          /*if (age == "Child"){
            input.innerHTML = "You do not need to own a licence until the age of 13."
          //If junior..
          } else if (document.getElementById('age').value == "Junior"){
            input.innerHTML = "FREE"
          //If senior..
          } else if (document.getElementById('age').value == "Senior"){
            input.innerHTML = "Senior"
            //If If trout & course, 2 rods..
            if (document.getElementById('type').value == "tc2"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£20"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If If trout & course, 3 rods..
            } else if (document.getElementById('type').value == "tc3"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£30"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If salmon and sea..
          } else if (document.getElementById('type').value == "sst"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£54"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£27"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£12"
              }
            }
          //If adult..
        } else */

        if (age == "Adult"){
          input.innerHTML = "Adult"
          //If trout & course, 2 rods..
          if (document.getElementById('type').value == "tc2"){
            //If 12 months..
            if (document.getElementById('length').value == "12"){
              //..the price is £30
              input.innerHTML = "£30"
            //If 8 days..
            } else if (document.getElementById('length').value == "8"){
              //..the price is £12
              input.innerHTML = "£12"
            //If 1 day..
            } else if (document.getElementById('length').value == "1"){
              //..the price is £6
              input.innerHTML = "£6"
            }

          //If trout & course, 3 rods..
          } else if (document.getElementById('type').value == "tc3"){
                //If 12 months..
                if (document.getElementById('length').value == "12"){
                  //..the price is £45
                  input.innerHTML = "£45"
                //If 8 days..
                } else if (document.getElementById('length').value == "8"){
                  //..the price is £12
                  input.innerHTML = "Not available"
                //If 1 day..
                } else if (document.getElementById('length').value == "1"){
                  //..the price is £6
                  input.innerHTML = "Not available"
                }
            //If salmon and sea trout
            } else if (document.getElementById('type').value == "sst"){
                //If 12 months..
                if (document.getElementById('length').value == "12"){
                  //..the price is £82
                  input.innerHTML = "£82"
                //If 8 days..
                } else if (document.getElementById('length').value == "8"){
                  //..the price is £12
                  input.innerHTML = "£27"
                //If 1 day..
                } else if (document.getElementById('length').value == "1"){
                  //..the price is £6
                  input.innerHTML = "£12"
                }
              }
          }
        }

        //IF LENGTH IS CHANGED...
        length.onchange = function() {
          //If child..
        /*  if (document.getElementById('age').value == "Child"){
            input.innerHTML = "You do not need to own a licence until the age of 13."
          //If junior..
          } else if (document.getElementById('age').value == "Junior"){
            input.innerHTML = "FREE"
          //If senior..
          } else if (document.getElementById('age').value == "Senior"){
            input.innerHTML = "Senior"
            //If If trout & course, 2 rods..
            if (document.getElementById('type').value == "tc2"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£20"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If If trout & course, 3 rods..
            } else if (document.getElementById('type').value == "tc3"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£30"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If salmon and sea..
          } else if (document.getElementById('type').value == "sst"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£54"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£27"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£12"
              }
            }
          //If adult..
        } else */

          if (age == "Adult"){
          input.innerHTML = "Adult"
          //If trout & course, 2 rods..
          if (document.getElementById('type').value == "tc2"){
            //If 12 months..
            if (document.getElementById('length').value == "12"){
              //..the price is £30
              input.innerHTML = "£30"
            //If 8 days..
            } else if (document.getElementById('length').value == "8"){
              //..the price is £12
              input.innerHTML = "£12"
            //If 1 day..
            } else if (document.getElementById('length').value == "1"){
              //..the price is £6
              input.innerHTML = "£6"
            }

          //If trout & course, 3 rods..
          } else if (document.getElementById('type').value == "tc3"){
                //If 12 months..
                if (document.getElementById('length').value == "12"){
                  //..the price is £45
                  input.innerHTML = "£45"
                //If 8 days..
                } else if (document.getElementById('length').value == "8"){
                  //..the price is £12
                  input.innerHTML = "Not available"
                //If 1 day..
                } else if (document.getElementById('length').value == "1"){
                  //..the price is £6
                  input.innerHTML = "Not available"
                }
            //If salmon and sea trout
            } else if (document.getElementById('type').value == "sst"){
              //If 12 months..
              if (document.getElementById('length').value == "12"){
                //..the price is £82
                input.innerHTML = "£82"
              //If 8 days..
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£27"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£12"
              }
            }
          }
        }
      </script>



{% endblock %}
