{% extends "layout.html" %}

{% set title = "Calculate your licence" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Buy a fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <div class="govuk-form-group">

      <label class="govuk-label" for="sort">
        Age
      </label>
      <select class="govuk-select" id="age" name="sort">
        <option value="Adult" selected >Adult (17 - 64 years)</option>
        <option value="Senior" >Senior (65+ years)</option>
        <option value="Junior">Junior (13 - 16 years)</option>
        <option value="Child">Child (under 16)</option>
      </select>
      <br />
      <br />
      <br />
      <label class="govuk-label" for="type" >
        Type
      </label>
      <select class="govuk-select" id="type" name="sort">
        <option value="tc2" selected>Trout and coarse, 2rod</option>
        <option value="tc3">Trout and coarse, 3rod</option>
        <option value="sst">Salmon and sea trout (All species)</option>
      </select>
      <br />
      <br />
      <br />
      <label class="govuk-label" for="sort">
        Length
      </label>
      <select class="govuk-select" id="length" name="sort">
        <option value="12" selected>12 months</option>
        <option value="8">8 days</option>
        <option value="1">1 day</option>
      </select>


    </div>

<p><b>Price:</b></p>
<p id="price">£30</p>
      <button id="buy" type="submit" class="govuk-button">
        Buy this licence
      </button>
```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````5
      <script type="text/javascript">
        var age = document.getElementById('age');
        var length = document.getElementById('length');
        var type = document.getElementById('type');
        var input = document.getElementById('price');
        //IF AGE IS CHANGED...
        age.onchange = function() {
          var x = document.getElementById("buy");
          x.style.display = "block";

          //If child..
          if (document.getElementById('age').value == "Child"){
            input.innerHTML = "You do not need to own a licence until the age of 13."
            x.style.display = "none";
          //If junior..
          } else if (document.getElementById('age').value == "Junior"){
            input.innerHTML = "FREE"
          //If senior..
          } else if (document.getElementById('age').value == "Senior"){
            input.innerHTML = "Senior"
            //If If trout & course, 2 rods..
            if (document.getElementById('type').value == "tc2"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£20"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If If trout & course, 3 rods..
            } else if (document.getElementById('type').value == "tc3"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£30"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If salmon and sea..
          } else if (document.getElementById('type').value == "sst"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£54"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£27"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£12"
              }
            }
          //If adult..
          } else if (document.getElementById('age').value == "Adult"){
          input.innerHTML = "Adult"
          //If trout & course, 2 rods..
          if (document.getElementById('type').value == "tc2"){
            //If 12 months..
            if (document.getElementById('length').value == "12"){
              //..the price is £30
              input.innerHTML = "£30"
            //If 8 days..
            } else if (document.getElementById('length').value == "8"){
              //..the price is £12
              input.innerHTML = "£12"
            //If 1 day..
            } else if (document.getElementById('length').value == "1"){
              //..the price is £6
              input.innerHTML = "£6"
            }

          //If trout & course, 3 rods..
          } else if (document.getElementById('type').value == "tc3"){
                //If 12 months..
                if (document.getElementById('length').value == "12"){
                  //..the price is £45
                  input.innerHTML = "£45"
                //If 8 days..
                } else if (document.getElementById('length').value == "8"){
                  //..the price is £12
                  input.innerHTML = "Not available"
                //If 1 day..
                } else if (document.getElementById('length').value == "1"){
                  //..the price is £6
                  input.innerHTML = "Not available"
                }
            //If salmon and sea trout
            } else if (document.getElementById('type').value == "sst"){
                input.innerHTML = "£82"
              }
          }
        }

        //IF TYPE IS CHANGED...
        type.onchange = function() {
          //If child..
          if (document.getElementById('age').value == "Child"){
            input.innerHTML = "You do not need to own a licence until the age of 13."
          //If junior..
          } else if (document.getElementById('age').value == "Junior"){
            input.innerHTML = "FREE"
          //If senior..
          } else if (document.getElementById('age').value == "Senior"){
            input.innerHTML = "Senior"
            //If If trout & course, 2 rods..
            if (document.getElementById('type').value == "tc2"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£20"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If If trout & course, 3 rods..
            } else if (document.getElementById('type').value == "tc3"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£30"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If salmon and sea..
          } else if (document.getElementById('type').value == "sst"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£54"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£27"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£12"
              }
            }
          //If adult..
          } else if (document.getElementById('age').value == "Adult"){
          input.innerHTML = "Adult"
          //If trout & course, 2 rods..
          if (document.getElementById('type').value == "tc2"){
            //If 12 months..
            if (document.getElementById('length').value == "12"){
              //..the price is £30
              input.innerHTML = "£30"
            //If 8 days..
            } else if (document.getElementById('length').value == "8"){
              //..the price is £12
              input.innerHTML = "£12"
            //If 1 day..
            } else if (document.getElementById('length').value == "1"){
              //..the price is £6
              input.innerHTML = "£6"
            }

          //If trout & course, 3 rods..
          } else if (document.getElementById('type').value == "tc3"){
                //If 12 months..
                if (document.getElementById('length').value == "12"){
                  //..the price is £45
                  input.innerHTML = "£45"
                //If 8 days..
                } else if (document.getElementById('length').value == "8"){
                  //..the price is £12
                  input.innerHTML = "Not available"
                //If 1 day..
                } else if (document.getElementById('length').value == "1"){
                  //..the price is £6
                  input.innerHTML = "Not available"
                }
            //If salmon and sea trout
            } else if (document.getElementById('type').value == "sst"){
                input.innerHTML = "£82"
              }
          }
        }

        //IF LENGTH IS CHANGED...
        length.onchange = function() {
          //If child..
          if (document.getElementById('age').value == "Child"){
            input.innerHTML = "You do not need to own a licence until the age of 13."
          //If junior..
          } else if (document.getElementById('age').value == "Junior"){
            input.innerHTML = "FREE"
          //If senior..
          } else if (document.getElementById('age').value == "Senior"){
            input.innerHTML = "Senior"
            //If If trout & course, 2 rods..
            if (document.getElementById('type').value == "tc2"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£20"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If If trout & course, 3 rods..
            } else if (document.getElementById('type').value == "tc3"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£30"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£12"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£6"
              }
            //If salmon and sea..
          } else if (document.getElementById('type').value == "sst"){
              //If 12 months...
              if (document.getElementById('length').value == "12"){
                //..the price is £20
                input.innerHTML = "£54"
              } else if (document.getElementById('length').value == "8"){
                //..the price is £12
                input.innerHTML = "£27"
              //If 1 day..
              } else if (document.getElementById('length').value == "1"){
                //..the price is £6
                input.innerHTML = "£12"
              }
            }
          //If adult..
          } else if (document.getElementById('age').value == "Adult"){
          input.innerHTML = "Adult"
          //If trout & course, 2 rods..
          if (document.getElementById('type').value == "tc2"){
            //If 12 months..
            if (document.getElementById('length').value == "12"){
              //..the price is £30
              input.innerHTML = "£30"
            //If 8 days..
            } else if (document.getElementById('length').value == "8"){
              //..the price is £12
              input.innerHTML = "£12"
            //If 1 day..
            } else if (document.getElementById('length').value == "1"){
              //..the price is £6
              input.innerHTML = "£6"
            }

          //If trout & course, 3 rods..
          } else if (document.getElementById('type').value == "tc3"){
                //If 12 months..
                if (document.getElementById('length').value == "12"){
                  //..the price is £45
                  input.innerHTML = "£45"
                //If 8 days..
                } else if (document.getElementById('length').value == "8"){
                  //..the price is £12
                  input.innerHTML = "Not available"
                //If 1 day..
                } else if (document.getElementById('length').value == "1"){
                  //..the price is £6
                  input.innerHTML = "Not available"
                }
            //If salmon and sea trout
            } else if (document.getElementById('type').value == "sst"){
                input.innerHTML = "£82"
              }
          }
        }
      </script>



{% endblock %}
