{% extends "layout-renew.html" %}

{% set title = "Enter a UK post code" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="change-person-address-postcode-select" method="post" class="form" id="new-contact-postcode">

        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="return-reference">
            Enter a UK postcode
          </label> -->
          <input class="govuk-input govuk-input--width-10" id="contact-postcode" name="contact-postcode" type="text">
        </div>

        <p class="govuk-!-margin-bottom-6">
          <a href="change-person-address-non-uk">
            This address is outside the UK
          </a>
        </p>

        <button type="submit" class="govuk-button">
          Find address
        </button>

      </form>

      <!-- <p>
        <a href="https://www.royalmail.com/find-a-postcode">
          Find a postcode on Royal Mail’s postcode finder
        </a>
      </p> -->

    </div>
  </div>

{% endblock %}
