{% extends "layout.html" %}

{% set title = "Check the licence details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="licence-option">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Trout and coarse, up to 2 rods
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-licence-type">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Valid for
            </dt>
            <dd class="govuk-summary-list__value">

              {% if data['licence-type'] === 'Trout and coarse, up to 3 rods' %}
               12 months
              {% else %}
                {% if data['licence-length'] %}
                  {{ data['licence-length'] }}
                {% else %}
                  12 months
                {% endif %}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- {% if data['licence-type'] === 'Trout and coarse, up to 3 rods' %}

              {% else %}
                <a class="govuk-link" href="change-licence-length">
                  Change<span class="govuk-visually-hidden"> licence length</span>
                </a>
              {% endif %} -->

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Valid from
            </dt>
            <dd class="govuk-summary-list__value">
              7:30am Sunday, 18 April 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-start-kind">
                Change<span class="govuk-visually-hidden"> valid from</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disability concession
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">None</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-disability-concession">
                Change<span class="govuk-visually-hidden"> disability concession</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              £30
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a> -->
            </dd>
          </div>
        </dl>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
