{% extends "layout.html" %}

{% set title = "Renew your rod fishing licence" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}
<!--
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p class="govuk-body">
      To find your licence details we first need to identify you. This helps us protect your personal information.
    </p>

    <!-- <div class="govuk-inset-text">
      <span class="govuk-body">
        You will be able to change the start date of the new rod fishing licence.
      </span>
    </div> -->

    <!-- <p class="govuk-!-margin-bottom-7">
      <a href="authenticate-other-licence">
        I want to renew a different licence
      </a>
    </p> -->

    <h2 class="govuk-heading-m">
      Licence holder details
    </h2>

    <form action="check-licence-details" method="post" class="form" id="check-licence-holder">

      <div class="govuk-inset-text">
        <span class="govuk-body">
          Licence ending <span class="govuk-!-font-weight-bold">EBFE76</span><br>
          Expires <span class="govuk-!-font-weight-bold">18 April 2021</span>
        </span>
      </div>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h3 class="govuk-fieldset__heading">
          Date of birth
        </h3>
      </legend>
      <div id="dob-hint" class="govuk-hint">
        For example, 23 4 1970
      </div>
      <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob_day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob_day" name="dob_day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob_month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob_month" name="dob_month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob_year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob_year" name="dob_year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
      </div>

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h3 class="govuk-fieldset__heading">
            Postcode
          </h3>
        </legend>
        <div id="event-name-hint" class="govuk-hint">
          For example WA4 1AB
        </div>
        <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" type="text" autocomplete="postal-code">
      </div>

      <button type="submit" class="govuk-button govuk-!-margin-bottom-1">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
