{% extends "layout.html" %}

{% set title = "Do you want to renew this licence?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Buy a fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}
<!--
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p class="govuk-!-margin-bottom-6 govuk-body">
      These are the details of the current licence. Choose whether you wish to renew it of buy a different licence.
    </p>

    <section class="govuk-!-margin-bottom-9 govuk-body">

      <section class="meta-data__row">
        <div class="meta-data__container">
          <div class="meta-data__label">
            Licence Holder
          </div>
          <div class="meta-data__value">
            Harriet Baitman
          </div>
        <div>
      </section>
      <section class="meta-data__row">
        <div class="meta-data__container">
          <div class="meta-data__label">
            Licence number
          </div>
          <div class="meta-data__value">
            00020321-2WC3FCP-EBFE76
          </div>
        <div>
      </section>
      <section class="meta-data__row">
        <div class="meta-data__container">
          <div class="meta-data__label">
            Expiry date
          </div>
          <div class="meta-data__value">
            2 March 2020, midnight
          </div>
        <div>
      </section>

    </section>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Licence number
        </dt>
        <dd class="govuk-summary-list__value">
          2WC3FGH BF283C
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div> -->

    <span class="govuk-body">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Licence type
        </dt>
        <dd class="govuk-summary-list__value">
          Trout and course
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence type</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Licence length
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            12 months
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence length</span>
          </a>
        </dd>
      </div>

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Expires
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            Midday on 2 March 2020
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> mobile number</span>
          </a>
        </dd>
      </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of rods
        </dt>
        <dd class="govuk-summary-list__value">
          Up to 2 rods
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> number of rods</span>
          </a>
        </dd>
      </div>
    </dl>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="renew-from" method="post" class="form" id="recipient">

        {{ govukRadios({
          idPrefix: "select-licence",
          name: "select-licence",

          items: [
            {
              value: "renew-from",
              text: "Buy this licence again for £30"
            },
            {
              value: "another",
              text: "Buy another licence (you will need to enter your personal details again)"
            }
          ]
        })
      }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
