{% extends "layout.html" %}

{% set title = "Check the details for the new fishing rod licence licence" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Buy a fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-6',
      rows: [
        {
          key: {
            text: "Licence holder"
          },
          value: {
            text: "Sam Baiter"
          },
          actions: {
            items: [
              {
                href: "change-person-name",
                text: "Change",
                visuallyHiddenText: "licence holder"
              }
            ]
          }
        },
        {
          key: {
            text: "Licence type"
          },
          value: {
            text: "Trout and course"
          },
          actions: {
            items: [
              {
                href: "update-licence-type",
                text: "Change",
                visuallyHiddenText: "licence type"
              }
            ]
          }
        },
        {
          key: {
            text: "Number of rods"
          },
          value: {
            text: data['rods']
          },
          actions: {
            items: [
              {
                href: "update-rods",
                text: "Change",
                visuallyHiddenText: "number of rods"
              }
            ]
          }
        },
        {
          key: {
            text: "Licence length"
          },
          value: {
            text: "12 months"
          },
          actions: {
            items: [
              {
                href: "update-licence-length",
                text: "Change",
                visuallyHiddenText: "licence length"
              }
            ]
          }
        },
        {
          key: {
            text: "Start date"
          },
          value: {
            text: "11 April 2020"
          },
          actions: {
            items: [
              {
                href: "licence-start-date",
                text: "Change",
                visuallyHiddenText: "valid from"
              }
            ]
          }
        },
        {
          key: {
            text: "Concessions eligibility"
          },
          value: {
            text: "Entitled to disabled concession"
          },
          actions: {
            items: [
              {
                href: "update-check-benefits",
                text: "Change",
                visuallyHiddenText: "concessions"
              }
            ]
          }
        },
        {
          key: {
            text: "Cost"
          },
          value: {
            text: "£30"
          }
        },
        {
          key: {
            text: "Expiry reminder"
          },
          value: {
            text: "By email"
          },
          actions: {
            items: [
              {
                href: "update-contact-prefs",
                text: "Change",
                visuallyHiddenText: "concessions"
              }
            ]
          }
        }
      ]
    }) }}

    <form action="licence-conditions" method="post" class="form" id="authenticate">

      <button type="submit" class="govuk-button govuk-!-margin-bottom-1">
        Continue
      </button>

    </form>

    <script src="/public/javascripts/jquery-1.11.3.js"></script>

    <script>
      $(function() {
        $('form[data-routing]').on('submit', function(ev) {
          // FInd selected radio button
          const url = $(this).find('input:checked').val();

          if(url) {
            ev.preventDefault();
            window.location.href = url;
            return false;
          }
        });
      })
    </script>

{% endblock %}
