{% extends "layout.html" %}

{% set title = "Do you want to go paperless?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="licence-by" method="post" class="form">

        <h1 class="govuk-heading-l">{{ title }}</h1>


        <p class="govuk-body">
          If you get your licence by email or text message you'll:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>help the environment by reducing paper use</li>
          <li>help us to save money, which we can invest in fishing</li>
        </ul>

        <!-- <div class="govuk-inset-text">
          You will not receive a licence card. Your licence information can be used to verify your licence to enforcement officers.
        </div> -->

        <!-- <div class="govuk-inset-text">
          You will not receive a card. Enforcement officers will accept email, text message or a copy of your licence information as proof of your licence.
        </div> -->

        <!-- <p class="govuk-body-l">
          You will not receive a card. Enforcement officers will accept email, text message or a copy of your licence information as proof of your licence.
        </p> -->

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="licence-option" name="licence-option" type="radio" value="digital" aria-describedby="licence-option-item-hint">
            <label class="govuk-label govuk-radios__label" for="licence-option">
              Yes, go paperless
            </label>
            <div id="licence-option-2-item-hint" class="govuk-hint govuk-radios__hint">
              <ul class="govuk-list govuk-list--bullet">
                <li>we'll send your rod licence by email or text message</li>
                <li>the email or text message is proof of your rod licence</li>
              </ul>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="licence-option-2" name="licence-option" type="radio" value="paper-licence" aria-describedby="licence-option-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="licence-option-2">
              No, I prefer a card
            </label>
            <div id="licence-option-2-item-hint" class="govuk-hint govuk-radios__hint">
              <ul class="govuk-list govuk-list--bullet">
                <li>you’ll get your rod licence card within 15 working days</li>
                <li>if you give us your email address or text message, we’ll send you a copy of your licence details</li>
              </ul>
            </div>
          </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body">
        <a href="https://www.gov.uk/government/publications/fisheries-annual-report-2019-to-2020/fisheries-annual-report-2019-to-2020" class="govuk-link" target="_blank">See how we spend money on fish and fishing (opens in a new window)</a>.
      </p>

    </div>
  </div>

{% endblock %}
