{% extends "layout.html" %}

{% set title = "How would you like to receive the licence details and future expiry reminders?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Buy a fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}
<!--
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          2 Vicarage Road
          <br>BRISTOL, BS7 2PP
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Add<span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile number
        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Add<span class="govuk-visually-hidden"> mobile number</span>
          </a>
        </dd>
      </div>
    </dl>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">
      Based on the information above you will get
    </h2>

    <section class="govuk-body">
      <div class="table govuk-!-margin-bottom-8">                                                <!-- a table -->

        <div class="table__row--head">                                              <!-- the table head -->
          <div class="table__cell bold-small column-33">
            What
          </div>
          <div class="table__cell bold-small">
            When
          </div>
          <div class="table__cell bold-small column-20">
            Post
          </div>
          <div class="table__cell bold-small column-10">
            Email
          </div>
          <div class="table__cell bold-small column-10">
            Text
          </div>
        </div>

        <div class="table__row">

          <div class="table__cell">
            <h2 class="screen-reader-only">
              Row 1
            </h2>
            <h3 class="table__context">
              What
            </h3>
            1. Licence number
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              When
            </h3>
            <!-- nothing here -->
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Post
            </h3>
            <!-- nothing here -->
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Email
            </h3>
            <!-- <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> email address</span>
            </a> -->
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Text
            </h3>
            <!-- <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> mobile number</span>
            </a> -->
          </div>

        </div>

        <div class="table__row govuk-!-margin-bottom-6">                                      <!-- a data row starts -->
          <div class="table__cell">
            <h2 class="screen-reader-only">
              Row 2
            </h2>
            <h3 class="table__context">
              What
            </h3>
            2. Licence card
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              When
            </h3>
            4 to 10 days after purchase
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Post
            </h3>
            <!-- 2 Vicarage Road
            <br>BRISTOL BS7 2PP -->
            Yes
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Email
            </h3>
            <!-- <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> email address</span>
            </a> -->
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Text
            </h3>
            <!-- <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> mobile number</span>
            </a> -->
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">
          <div class="table__cell table__cell--follower">
            <h2 class="screen-reader-only">
              Row 3
            </h2>
            <h3 class="table__context">
              What
            </h3>
            3. Licence expiry reminder
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              When
            </h3>
            3 weeks before your licence expires
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Post
            </h3>
            <!-- 2 Vicarage Road
            <br>BRISTOL BS7 2PP -->
            Yes
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Email
            </h3>
            <!-- <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> email address</span>
            </a> -->
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Text
            </h3>
            <!-- <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> mobile number</span>
            </a> -->
          </div>
        </div>

        <div class="table__row govuk-!-margin-bottom-6">
          <div class="table__cell">
            <h3 class="table__context">
              What
            </h3>
            <span class="screen-reader-only">
              3. Licence expiry reminder
            </span>
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              When
            </h3>
            24 hours before your licence expires
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Post
            </h3>
            <!-- 2 Vicarage Road
            <br>BRISTOL BS7 2PP -->
            Yes
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Email
            </h3>
            <!-- <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> email address</span>
            </a> -->
          </div>
          <div class="table__cell">
            <h3 class="table__context">
              Text
            </h3>
            <!-- <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> mobile number</span>
            </a> -->
          </div>
        </div>

      </div>
    </section>

    <form action="licence-conditions" method="post" class="form" id="renew">
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
