{% extends "layout.html" %}

{% set title = "Payment complete" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>
        <div class="govuk-panel__body">
          Your licence number is <br><strong>16130122-2WC3JDD-AJ2H17</strong>
          <br>
          <br>
          Valid from <br>7:30pm, 5 May 2021
        </div>
      </div>


      {% if data['licence-option'] == "Digital" %}
        <p class="govuk-body">
          You can fish from your licence start date.
        </p>
        <p class="govuk-body">
          We've sent your licence by email or text message.
        </p>
      {% else %}
        <p class="govuk-body">
          You can fish from your licence start date. You do not need to wait to get your licence card.
        </p>
      {% endif %}

      <h2 class="govuk-heading-l">Before you go fishing</h2>

      <div class="govuk-!-margin-bottom-9">

        <p class="govuk-body">
          It’s important you know your licence number. You can take a screenshot or print out your <a href="licence-information">licence information</a>.
        </p>

        {% if data['licence-option'] == "Paper" %}

          <p class="govuk-body">
            If you gave us your email address, you’ll get a message that includes your licence information.
          </p>

          <div class="govuk-inset-text">
            Make a record of your licence number.
          </div>

        {% endif %}


        <p class="govuk-body">
          If an enforcement officer asks to see your licence, you'll need to give them these details.
        </p>

        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">rod fishing byelaws (opens in a new tab)</a>.
        </p>

      </div>

      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link">Tell us what you think of the service</a> (takes 30 seconds)
      </p>

    </div>
  </div>

{% endblock %}
