{% extends "layout.html" %}

{% set title = "When would you like the next licence to start?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="licence-details" method="post" class="form" id="pick-notification-preference">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="start-date-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
              When would you like the next licence to start?
            </h1>
          </legend>

          <p class="govuk-body-l">
            Your current licence expires 10 April 2020.
          </p>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start-date-conditional" name="start-date" type="radio" value="current" data-aria-controls="conditional-start-date-conditional" checked>
              <label class="govuk-label govuk-radios__label" for="start-date-conditional">
                11 April 2020 (the day after the current licence expires)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="start-date-conditional-3" name="start-date" type="radio" value="another-date" data-aria-controls="conditional-start-date-conditional-3">
              <label class="govuk-label govuk-radios__label" for="start-date-conditional-3">
                Another date
                <span class="govuk-hint">Set a new start date, this can be up to 60 days in advance.</span>
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-start-date-conditional-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="licence-start-date">

                  <span id="licence-start-hint" class="govuk-hint">
                    For example, 27 2 2023
                  </span>
                  <div class="govuk-date-input" id="licence-start">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="licence-start-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="licence-start-day" name="licence-start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="licence-start-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="licence-start-month" name="licence-start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="licence-start-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="licence-start-year" name="licence-start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <a href="">
                      <img src="/public/images/calendar.png" alt="Open calendar" title="Open calendar" width="60px" style="position:relative;top:16px">
                    </a>
                  </div>

                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
