{% extends "layout.html" %}

{% set title = "When would you like the next licence to start?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Buy a fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form data-routing="1" method="post" class="form" id="choose-renew-time">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="another-time-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              When would you like the next licence to start?
            </h1>
          </legend>
          {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

          {{ govukInsetText({
            text: "Current licence expiry date: 2 March 2020, midnight."
          }) }}

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="licence-renew" name="licence-renew" type="radio"  value="notification-preference">
              <label class="govuk-label govuk-radios__label" for="licence-renew">
                From previous licence expiry date: <span class="govuk-!-font-weight-bold">3 March 2020, 11:59</span>
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="another-time" name="another-time" type="radio" value="phone">
              <label class="govuk-label govuk-radios__label" for="another-time">
                Another time or date
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
