{% extends "layout.html" %}

{% set title = "Are you sure you want to cancel your recurring card payment?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      <!-- debug / show data -->
      {% include "includes/clip/debug.html" %}

            <span class="govuk-caption-l">Cancel your recurring card payment agreement</span>
<h1 class="govuk-heading-l">
  Confirm you want to cancel
</h1>

        <p class="govuk-body govuk-!-margin-bottom-9">
  Your current licence will remain valid until it expires on 29 June 2025.</p>


    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="rcp-cancel_confirmation">

      <div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Yes, cancel my payment agreement
  </button>
  <a class="govuk-link" href="">No, I've changed my mind</a>
</div>

      </form>
    </div>
  </div>

{% endblock %}
