{% extends "layout.html" %}

{% set title = "Would you like to add another licence?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- debug / show data -->
    {% include "includes/clip/debug.html" %}

    {% if data['licences'] > 1 %}
      <div class="govuk-inset-text">
        <p class="govuk-l">
          You have added <a href="selected-licences" class="govuk-link">{{ data['licences'] }} licences</a>
        </p>
      </div>
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['licenceFor'] === "other" %}
      <form action="/multibuy-add-licences?lastLicenceFor=other" method="post" class="form">
    {% else %}
      <form action="/multibuy-add-licences?lastLicenceFor=you" method="post" class="form">
    {% endif %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            {{ title }}
          </h2>
        </legend>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-licence-yes" name="add-licence" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="add-licence-yes">
              Yes, add another licence
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-licence-no" name="add-licence" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="add-licence-no">
              No, let’s finish
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    {{govukButton({
      text: "Continue"
    })}}

  </form>

  </div>
</div>

<!-- shortcut through flow -->
<!-- <div class="prototype-only">
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="payment-complete">
        Payment complete
      </a>
    </li>
    <li>
      <a href="licence-information">
        Licence information
      </a>
    </li>
  </ul>
</div> -->

{% endblock %}
