{% extends "layout.html" %}

{% set title = "Check the licence details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  {% if data['licences'] == 1 %}
    <script language="javascript" type="text/javascript">
      window.setTimeout('location.replace("add-another-licence?licences=2")',1);
    </script>
  {% elseif data['licences'] > 1 %}
    <script language="javascript" type="text/javascript">
      window.setTimeout('location.replace("add-another-licence?licences=3")',1);
    </script>
  {% else %}
    <script language="javascript" type="text/javascript">
      window.setTimeout('location.replace("add-another-licence?licences=1")',1);
    </script>
  {% endif %}

{% endblock %}
