{% extends "layout.html" %}

{% set title = "Would you like to add another licence?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- debug / show data -->
    {% include "includes/clip/debug.html" %}

    {% if data['licences'] == "2" %}
      <div class="govuk-inset-text">
        <p class="govuk-l">
          You have selected <a href="selected-licences" class="govuk-link">2 licences</a>
        </p>
      </div>
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['licence'] == "1" %}
      <form action="/multibuy-add-licences" method="post" class="form">
    {% elseif data['licence'] == "2" %}
      <form action="/multibuy-add-licences" method="post" class="form">
      <!-- <form action="/multibuy-add-licences-2" method="post" class="form"> -->
    {% else %}
      <form action="/multibuy-add-licences" method="post" class="form">
    {% endif %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            {{ title }}
          </h2>
        </legend>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-licence-yes" name="add-licence" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="add-licence-yes">
              Yes, add another licence
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-licence-no" name="add-licence" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="add-licence-no">
              No, let’s finish up
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    {{govukButton({
      text: "Continue"
    })}}

  </form>

  </div>
</div>

{% endblock %}
