{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "Do you want to go paperless?" %}
{% else %}
  {% set title = "Go paperless?" %}
{% endif %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/multibuy-check-licence-option" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <!-- hemingway says that these are hard to read! -->
            {% if data['licenceFor'] == "user" %}
              <p class="govuk-body">
                Getting your licence by email or text message helps the environment by reducing paper use and help us to save money, which we can invest in fishing.
              </p>
            {% else %}
              <p class="govuk-body">
                Getting a licence by email or text message helps the environment by reducing paper use and help us to save money, which we can invest in fishing.
              </p>
            {% endif %}

            <!-- the version that was too bullety -->
            <!-- {% if data['licenceFor'] == "user" %}
              <p class="govuk-body">
                If you get your licence by email or text message you'll:
              </p>
            {% else %}
              <p class="govuk-body">
                Getting a licence by email or text message will:
              </p>
            {% endif %}

            <ul class="govuk-list govuk-list--bullet">
              <li>help the environment by reducing paper use</li>
              <li>help us to save money, which we can invest in fishing</li>
            </ul> -->

            <!-- radios -->
            <div class="govuk-radios">
              <!-- radio 1 -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-option-digital" name="licence-option" type="radio" value="digital" aria-describedby="licence-option-digital-hint">
                <label class="govuk-label govuk-radios__label" for="licence-option-digital">
                  Yes, go paperless
                </label>
                <div id="licence-option-digital-hint" class="govuk-hint govuk-radios__hint">
                  <ul class="govuk-list govuk-list--bullet">
                    {% if data['licenceFor'] == "user" %}
                      <li>we'll send your fishing licence by email or text message</li>
                      <li>the email or text message is proof of your fishing licence</li>
                    {% else %}
                      <li>we'll send the fishing licence by email or text message</li>
                      <li>the email or text message is proof of a fishing licence</li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <!-- radio 2 -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-option-paper" name="licence-option" type="radio" value="paper-licence" aria-describedby="licence-option-paper-hint">
                <label class="govuk-label govuk-radios__label" for="licence-option-paper">
                  {% if data['licenceFor'] == "user" %}
                    No, I prefer a card
                  {% else %}
                    No, get a card
                  {% endif %}
                </label>
                <div id="licence-option-paper-hint" class="govuk-hint govuk-radios__hint">
                  <ul class="govuk-list govuk-list--bullet">
                    {% if data['licenceFor'] == "user" %}
                      <li>get your fishing licence card within 15 working days</li>
                      <li>if you give us your email address or phone number, we’ll send you a copy of your licence details</li>
                    {% else %}
                      <li>get the fishing licence card within 15 working days</li>
                      <li>if you give us an email address or phone number, we’ll send a copy of the licence details</li>
                    {% endif %}

                  </ul>
                </div>
              </div>
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>

          </fieldset>
        </div>

      </form>

      <p class="govuk-body">
        <a href="https://www.gov.uk/government/publications/fisheries-annual-report-2019-to-2020/fisheries-annual-report-2019-to-2020" class="govuk-link" target="_blank">See how we spend money on fish and fishing (opens in a new window)</a>.
      </p>

    </div>
  </div>

{% endblock %}
