{% extends "layout.html" %}

{% set title = "Payment complete" %}

{% set licenceNumber = "09120522-2WC3FSF-AJ2H17" %}
{% set licenceNumber2 = "09120522-2WC3FJF-AJ2H17" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>
        {% if data['licence'] == "1" %}
          <div class="govuk-panel__body">
            <div class="govuk-!-margin-bottom-6">
              You have <span class="govuk-!-font-weight-bold">2 licences</span>
            </div>
            <div class="govuk-!-margin-bottom-6">
              <strong>{{ licenceNumber }}</strong>
              Starts from 8.12am on 12 May 2021
            </div>
            <div class="govuk-!-margin-bottom-6">
              <strong>{{ licenceNumber2 }}</strong>
              Starts from 8.12am on 12 May 2021
            </div>
          </div>
        {% else %}
          <div class="govuk-panel__body">
            Your licence number is <br><strong>16130122-2WC3JDD-AJ2H17</strong>
            <br>
            <br>
            Valid from <br>7:30am, 5 May 2021
          </div>
        {% endif %}

      </div>

      {% if data['licence-option'] == "digital" %}
        <p class="govuk-body">
          You can fish from the time and date your licence starts.
        </p>
        <p class="govuk-body">
          We’ve sent your licence by email or text message.
        </p>
      {% else %}
        <p class="govuk-body">
          You can fish from the time and date your licence starts. You do not need to wait to get your licence card.
        </p>
      {% endif %}

      <!-- {{ data['licence-option'] }} -->
      <!-- digital / paper-licence -->

      <h2 class="govuk-heading-l">Before you go fishing</h2>

      <div class="govuk-!-margin-bottom-9">

        <p class="govuk-body">
          It’s important you know your licence number. You can take a screenshot or print out your licence information.
        </p>

        <form action="licence-information">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            View your licence information
          </button>
        </form>

        {% if data['licence-option'] == "paper-licence" %}

          <p class="govuk-body">
            If you gave us your email address, you’ll get a message that includes your licence information.
          </p>

          <div class="govuk-inset-text">
            Make a record of your licence number.
          </div>

        {% endif %}


        <p class="govuk-body">
          If an enforcement officer asks to see your licence, you'll need to give them these details.
        </p>

        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">rod fishing byelaws (opens in a new tab)</a>.
        </p>

      </div>

      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link">Tell us what you think of the service</a> (takes 30 seconds)
      </p>

    </div>
  </div>

{% endblock %}
