{% extends "layout.html" %}

{% set title = "Payment complete" %}

<!-- grab data from allLicences -->
{% set allLicences = data['allLicences'] %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">

        <span class="govuk-panel__title">£60</span>
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>

        <div class="govuk-panel__body">
          <div class="govuk-!-margin-bottom-6">
            You have <span class="govuk-!-font-weight-bold">{{ allLicences.length }} licences</span>
          </div>

          <!-- licence instance -->
          {% for i in allLicences %}

            <div class="govuk-!-margin-bottom-6">
              <div class="govuk-!-margin-bottom-3">
                <!-- {{ loop.index0 }} -->
                {{ i.firstName }} {{ i.lastName }}
              </div>

              <strong>
                {{ data['licenceNumbers'][loop.index0] }}
              </strong><br>
              Starts from {{ data['times'][loop.index0] }} on 12 May 2021
            </div>

          {% endfor %}

        </div>
      </div>

      {% if data['licence-option'] == "digital" %}
        <p class="govuk-body">
          You can fish from the time and date your licence starts.
        </p>
        <p class="govuk-body">
          We’ve sent your licence by email or text message.
        </p>
      {% else %}
        <p class="govuk-body">
          You can fish from the time and date your licence starts. You do not need to wait to get your licence card.
        </p>
      {% endif %}

      <!-- {{ data['licence-option'] }} -->
      <!-- digital / paper-licence -->

      <!-- {{ allLicences | dump }} -->

      <!-- while statement -->
      <!-- {% for i in allLicences %}

        {{ i.firstName }}

      {% endfor %} -->


    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h2 class="govuk-heading-l">Before you go fishing</h2>

      <div class="govuk-!-margin-bottom-9">

        <p class="govuk-body">
          It’s important you know your licence number. You can take a screenshot or print out your licence information.
        </p>

        <form action="licence-information">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            View your licence information
          </button>
        </form>

        {% if data['licence-option'] == "paper-licence" %}

          <p class="govuk-body">
            If you gave us your email address, you’ll get a message that includes your licence information.
          </p>

          <div class="govuk-inset-text">
            Make a record of your licence number.
          </div>

        {% endif %}


        <p class="govuk-body">
          If an enforcement officer asks to see your licence, you'll need to give them these details.
        </p>

        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">rod fishing byelaws (opens in a new tab)</a>.
        </p>

      </div>

      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link">Tell us what you think of the service</a> (takes 30 seconds)
      </p>

    </div>
  </div>

{% endblock %}
