{% extends "layout.html" %}

{% set title = "Selected licences" %}

<!-- grab data from allLicences -->
{% set allLicences = data['allLicences'] %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
   homepageUrl: "/index",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <!-- licence instance -->
    {% for i in allLicences %}
    <section class="govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-l">
        {{ data['licenceNumbers'][loop.index0] }}
      </h2>

      <!-- table for licence information -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key-wide">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ i.firstName }} {{ i.lastName }}
          </dd>
        </div>

        <div class="govuk-summary-list__row table__row--divider">
          <dt class="govuk-summary-list__key govuk-summary-list__key-wide">
            Identification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['identificationNumbers'][loop.index0] }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['licence-type'] %}
              {{ data['licence-type'] }}
            {% else %}
              Trout and coarse, up to 2 rods
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['licence-length'] %}
              {{ data['licence-length'] }}
            {% else %}
              12 month
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Starts
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['times'][loop.index0] }} on 12 May 2021
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ends
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['endtimes'][loop.index0] }} on 12 May 2021
          </dd>
        </div>

        {% if i.concession != "None" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disability concession
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ i.concession }}</p>
            </dd>
          </div>
        {% endif %}

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost
          </dt>
          <dd class="govuk-summary-list__value">
            £30
          </dd>
        </div> -->
      </dl>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary",
          href: "licence-summary?source=multibuy"
        }) }}

        {{ govukButton({
          text: "Remove this licence",
          classes: "govuk-button--secondary",
          href: "#"
        }) }}
      </div>

    </section>
    {% endfor %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="add-another-licence" method="post" class="form">

      {{govukButton({
        text: "Continue"
      })}}

    </form>

  </div>
</div>

{% endblock %}
