{% extends "layout.html" %}

{% set title = "Licence conditions" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <form action="payment-details" method="post" class="form" id="recipient">

      <!-- <p class="govuk-body">
        When you buy this licence you agree that:
      </p> -->

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Trout and Coarse, up to 2 rods
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <h2 class="govuk-heading-m">Conditions of the fishing licence</h2>
      <p class='govuk-body'>The licence holder must read and agree to these conditions. It is an offence to act in breach of the licence conditions. The following conditions apply:
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li class='govuk-body'>the licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder</li>
      <li class='govuk-body'>the licence is only valid from its start date and time until its expiry date and time</li>
      <li class='govuk-body'>the licence will cover the licence holder to fish with 1 rod for non-migratory trout in rivers, streams, drains and canals, up to 2 rods for non-migratory trout in reservoirs,
        lakes and ponds or up to 2 rods for freshwater (coarse) fish, smelt, lamprey and eels where byelaws allow</li>
      <li class='govuk-body'>the licence does not give the right to fish, but gives the licence holder the right to use a fishing rod and line only.
        The permission from any owner of fishing rights is also required before commencing to fish</li>
      <li class='govuk-body'>the licence holder must comply with local and national fisheries byelaws</li>
      <li class='govuk-body'>when fishing, or intending to fish, the licence holder must carry their fishing licence or proof of purchase and show it to our Enforcement Officers if they ask to see it.
        If the licence holder is still waiting for their licence to arrive in the post, they must carry proof of the licence and proof of their identity</li>
      </p>
      <h2 class="govuk-heading-m">Important information</h2>
      <li class='govuk-body'>The licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder.</li>
      <li class='govuk-body'>Licence holders must not fish for freshwater (coarse) fish from 15 March to 15 June inclusive (known as the ‘close season’) on rivers,
        streams, drains and on some canals and stillwater sites of special scientific interest (SSSIs).</li>
      <li class='govuk-body'>Brown trout close seasons are in place on all rivers and most lakes, but the dates of the close season are different across the country
        (see byelaws for relevant information). There is no brown trout close season on most ‘enclosed stillwaters’.</li>
      <li class='govuk-body'>There are restrictions on which freshwater (coarse) fish can be removed by rod and line from rivers, canals and lakes
        (licence holders should familiarise themselves with the relevant byelaws). Always return any rod-caught eel and shad.</li>
      <li class='govuk-body'>Do not leave rods unattended in or out of the water.</li>
      <li class='govuk-body'>If fishing for freshwater (coarse) fish with 4 rods, the licence holder will need two licences. These can be purchased online at www.gov.uk/get-a-fishing-licence
        (other sites may charge more for fishing licences) or by calling 0344 800 5386 (opening times may vary).</li>
      <li class='govuk-body'>If the wrong licence is purchased by mistake, a refund can be applied for within 14 days of purchase.  1 and 8 day licences are non-refundable.</li>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Trout and Coarse, up to 3 rods
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <h2 class="govuk-heading-m">Conditions of the fishing licence</h2>
      <p class='govuk-body'>The licence holder must read and agree to these conditions. It is an offence to act in breach of the licence conditions. The following conditions apply:
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li class='govuk-body'>the licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder.</li>
          <li class='govuk-body'>the licence is only valid from its start date and time until its expiry date and time</li>
          <li class='govuk-body'>the licence will cover the licence holder to fish with 1 rod for non-migratory trout in rivers, streams, drains and canals,
            up to 2 rods for non-migratory trout in reservoirs, lakes and ponds or up to 3 rods for freshwater (coarse) fish, smelt, lamprey and eels where byelaws allow</li>
          <li class='govuk-body'>the licence does not give the right to fish, but gives the licence holder the right to use a fishing rod and line only.
            The permission from any owner of fishing rights is also required before commencing to fish</li>
          <li class='govuk-body'>the licence holder must comply with local and national fisheries byelaws</li>
          <li class='govuk-body'>when fishing, or intending to fish, the licence holder must carry their fishing licence or proof of purchase and show it to our Enforcement Officers if they ask to see it.
            If the licence holder is still waiting for their licence to arrive in the post, they must carry proof of the licence and proof of their identity</li>
            <h2 class="govuk-heading-m">Important information</h2>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li class='govuk-body'>If the licence holder fails to comply with fisheries legislation, they may be prosecuted and could be fined. They could also lose their licence and fishing equipment.</li>
              <li class='govuk-body'>Licence holders must not fish for freshwater (coarse) fish from 15 March to 15 June inclusive (known as the ‘close season’) on rivers,
                streams, drains and on some canals and stillwater sites of special scientific interest (SSSIs).</li>
              <li class='govuk-body'>Brown trout close seasons are in place on all rivers and most lakes, but the dates of the close season are different across the country (see byelaws for relevant information).
                There is no brown trout close season on most ‘enclosed stillwaters’.</li>
              <li class='govuk-body'>There are restrictions on which freshwater (coarse) fish can be removed by rod and line from rivers, canals and lakes (licence holders should familiarise themselves with the relevant byelaws).
                Always return any rod-caught eel and shad.</li>
              <li class='govuk-body'>Do not leave rods unattended in or out of the water.</li>
              <li class='govuk-body'>If the wrong licence is purchased by mistake, a refund can be applied for within 14 days of purchase. 1 and 8 day licences are non-refundable.</li>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Salmon and sea trout
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <h2 class="govuk-heading-m">Conditions of the fishing licence</h2>
      <p class='govuk-body'>The licence holder must read and agree to these conditions. It is an offence to act in breach of the licence conditions. The following conditions apply:
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li class='govuk-body'>the licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder</li>
      <li class='govuk-body'>the licence is only valid from its start date and time until its expiry date and time</li>
      <li class='govuk-body'>the licence will cover the licence holder to fish with 1 rod for salmon, sea trout and non-migratory trout in rivers, streams and canals, up to 2 rods for salmon,
        sea trout and non-migratory trout in reservoirs, lakes and ponds or up to 3 rods for freshwater (coarse) fish, smelt, lamprey and eels where byelaws allow</li>
      <li class='govuk-body'>the licence does not give the right to fish, but gives the licence holder the right to use a fishing rod and line only.
        The permission from any owner of fishing rights is also required before commencing to fish</li>
      <li class='govuk-body'>the licence holder must comply with local and national fisheries byelaws</li>
      <li class='govuk-body'>when fishing, or intending to fish, the licence holder must carry their fishing licence or proof of purchase and show it to our Enforcement Officers if they ask to see it.
        If the licence holder is still waiting for their licence to arrive in the post, they must carry proof of the licence and proof of their identity</li>
        <li class='govuk-body'>salmon and sea trout licence holders in England and Wales must submit a catch return by 31 December for each calendar year that their licence is valid for,
          even if they do not catch anything or do not fish</li>
      </p>
      <h2 class="govuk-heading-m">Important information</h2>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li class='govuk-body'>If the licence holder fails to comply with fisheries legislation, they may be prosecuted and could be fined. They could also lose their licence and fishing equipment.</li>
        <li class='govuk-body'>Licence holders must not sell, exchange, or barter any salmon and sea trout that has been caught by rod and line in England (including the Border Esk in Scotland) and Wales.</li>
        <li class='govuk-body'>Licence holders must not fish for salmon and sea trout during the close season. Salmon and sea trout close seasons are in place on all rivers, but the dates of the close season are different across the country.
          Licence holders must familiarise themselves with the relevant byelaws.</li>
        <li class='govuk-body'>Brown trout close seasons are in place on all rivers and most lakes, but the dates of the close season are different across the country (see byelaws for relevant information).
          There is no brown trout close season on most ‘enclosed stillwaters’.</li>
        <li class='govuk-body'>Licence holders must not fish for freshwater (coarse) fish from 15 March to 15 June inclusive on rivers, streams,
          drains and on some canals and stillwater sites of special scientific interest (SSSIs).</li>
        <li class='govuk-body'>There are restrictions on which freshwater (coarse) fish can be removed by rod and line from rivers, canals and lakes
          (licence holders should familiarise themselves with the relevant byelaws). Always return any rod-caught eel and shad.</li>
        <li class='govuk-body'>Do not leave rods unattended in or out of the water.</li>
        <li class='govuk-body'>If the wrong licence is purchased by mistake, a refund can be applied for within 14 days of purchase. 1 and 8 day licences are non-refundable.</li>
    </div>
  </div>
</div>

<h2 class="govuk-heading-m">Byelaws</h2>
<p class='govuk-body'>It is an offence if the licence holder does not comply with byelaws when fishing. Before the licence holder goes fishing, they must check which byelaws apply to where
  they are intending to fish. Byelaws are laws made by a local council or other bodies. Details of all byelaws are available at www.gov.uk/freshwater-rod-fishing-rules, or call 03708 506 506 from 8am to 6pm, Monday to Friday</p>

<h2 class="govuk-heading-m">Privacy policy</h2>
<p class='govuk-body'>Our full Privacy Policy can be viewed online at https://get-fishing-licence.service.gov.uk/guidance/privacy-policy
For up-to-date information on how we use the information provided when buying a rod licence, please visit www.gov.uk, email enquiries@environment-agency.gov.uk or call 03708 506 506.</p>

<h2 class="govuk-heading-m">How to report an incident</h2>
<p class='govuk-body'>To report an emergency or incident, please call our 24-hour emergency hotline on 0800 80 70 60.  Crimestoppers can be called anonymously on 0800 555 111 with
  information about illegal fishing, fish theft, illegal fish stocking and environmental crime, or report it at www.crimestoppers-uk.org</p>

      <div class="govuk-checkboxes govuk-!-margin-bottom-6">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="agree-terms" name="agree-terms" type="checkbox" value="agree">
          <label class="govuk-label govuk-checkboxes__label" for="returns-agent">
            I agree to the licence conditions
          </label>
        </div>
      </div>

      <button type="submit" class="govuk-button govuk-!-margin-bottom-1">
        Pay for the licence
      </button>

      <p class="govuk-body govuk-hint">
        on the GOV.UK secure payment site
      </p>

      <p class="govuk-body">
        <a href="https://www.gov.uk/fishing-licences/buy-a-fishing-licence">
          I no longer want to buy a licence
        </a>
      </p>

    </form>

  </div>
</div>

<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
