{% extends "layout.html" %}

{% set title = "Automatic payments: terms and conditions" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="gov-body">An automatic payment is a regular debit or credit card payment taken with your agreement to securely pay for your next fishing licence. Your bank may call this a 'recurring payment' or 'continuous payment authority'.</p>

      <h2 class="govuk-heading-m">Payments</h2>

      <p class="govuk-body">You can give consent to set up automatic payments for future 12 month fishing licences when buying a licence online. The Environment Agency will take payments (in pounds) until you tell us or your bank to stop them. </p>
      <p class="govuk-body">Payments will be taken 10 days before your 12 month licence is due to expire.</p>
      <p class="govuk-body">The future cost of a 12 month fishing licence may change. For example, the price may be higher because of a service-wide price increase, or lower if you become eligible for a senior licence.</p>

      <h2 class="govuk-heading-m">Payment reminders</h2>

      <p class="govuk-body">We will notify you by text or email one month before your next automatic payment.</p>
      <p class="govuk-body">If an automatic payment fails, we will send you a text or email so you can arrange to buy another licence if you want to continue to fish.</p>
      <p class="govuk-body">If your email address or mobile number changes, contact us to update your details.</p>

      <h2 class="govuk-heading-m">Refunds and cancellation</h2>

      <p class="govuk-body">To request a refund within 14 days of buying a licence, see <a href="https://get-fishing-licence.service.gov.uk/guidance/refund-policy">the refund policy</a>.</p>
      <p class="govuk-body">To cancel an automatic payment at any time, either contact us or use the cancellation link in your confirmation or payment reminder notification. If you cancel an automatic payment through your bank, we may not know about this until we try to take the payment.</p>
      <p class="govuk-body">If you want to change the number of rods or type of fish covered by your licence, you will need to cancel your automatic payment and buy a new licence.</p>
      <p class="govuk-body">If your eligibility for a disabled concession changes, you can cancel your automatic payment and buy a new licence.</p>

      <h2 class="govuk-heading-m">Data security</h2>

      <p>We will store and use your data following our <a href="https://get-fishing-licence.service.gov.uk/guidance/privacy-policy">privacy policy</a>.</p>

      <h2 class="govuk-heading-m">Contact us</h2>

      <p>Contact us if you would like to change your personal details or cancel an automatic payment.</p>

      <div class="govuk-inset-text">
       Environment Agency
      <br>[email address]
      <br>[Telephone, hours and call charges link]
      <br>[Postal address]</div>

<!--
       <ul class="govuk-list govuk-list--bullet">
        <li>a payment will be taken immediately for your 12-month licence</li>
        <li>when your licence expires, a future payment will be taken by your card provider every year to cover the cost of renewing your 12-month licence</li>
        <li>another term - how we will remind them a payment is about to be taken</li>
        <li>another term - in what circumstances can the price changes</li>
        <li>another term - how to cancel or get a refund</li>
        <li>another term - what happens if the card expires</li>
        <li>another term - something else the user needs to know</li>
        <li>another term - something else the user needs to know</li>
      </ul> -->

    </div>
  </div>

{% endblock %}
