{% extends "layout.html" %}

{% set title = "Confirm your payment" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your payment is in progress</h1>

        <p class="govuk-body">Your banking provider is checking the details of this payment</p>



        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Your payment is not complete yet
          </strong>
        </div>

        <a href="payment-confirmation">
          <img src="/public/images/piggi-bank.png" alt="placeholder secure check panel" width="80%">
        </a>

        <!-- <form action="payment-confirmation" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form> -->
      </div>
    </div>




{% endblock %}
