{% extends "layout.html" %}

{% block pageTitle %}
  Payment options - GOV.UK
{% endblock %}

{% block beforeContent %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/payment-options-form" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Would you like your licence to automatically renew when it expires?</h1>
            </legend>

            <!--<div id="event-name-hint" class="govuk-hint">
              Might need a little bit of help/hint text?
            </div>-->

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payment-options-1" name="payment-options-radio" type="radio" value="single-payment" data-aria-controls="conditional-payment-options-1">
                <label class="govuk-label govuk-radios__label" for="payment-options-1">
                    No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-payment-options-1">
                <div class="govuk-form-group">
                  <p class="govuk-body">
                    Make a single payment for this year's licence only.
                  </p>
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payment-options-2" name="payment-options-radio" type="radio" value="recurring-payment" data-aria-controls="conditional-payment-options-2">
                <label class="govuk-label govuk-radios__label" for="payment-options-2">
                   Yes
                </label>

              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-payment-options-2">
                <div class="govuk-form-group">
                  <p class="govuk-body">
                    Pay for this year's licence and set up automatic payments for future licences.
                  </p>
                </div>
              </div>


            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
