<!-- {% if (data['confirmation']) or (data['licence-option']) or (data['licence-by']) or (data['rcr']) %}
<div class="govuk-inset-text">

  {% if data['licence-option'] %}
    Licence is {{ data['licence-option'] }}<br>
  {% endif %}

  {% if data['confirmation'] %}
    Licence confirmation is {{ data['confirmation'] }}<br>
  {% endif %}

  {% if data['licence-by'] %}
    Licence sent by {{ data['licence-by'] }}<br>
  {% endif %}

  {% if data['rcr'] %}
    Rod catch return is {{ data['rcr'] }}
  {% endif %}

</div>
{% endif %} -->


{% if (data['source']) or (data['licence-for']) or (data['angler']) or (data['first-name']) or (data['concession']) or (data['email']) %}
<div class="govuk-inset-text">

  {% if data['licences'] == 1 %}
    1 licence<br>
  {% elseif data['licences'] > 0 %}
    {{ data['licences'] }} licences<br>
  {% endif %}

  {% if data['source'] %}
    Source is {{ data['source'] }}<br>
  {% endif %}

  {% if data['licence-was-for'] %}
    Licence was for {{ data['licence-was-for'] }}<br>
  {% endif %}

  {% if data['licence-for'] %}
    Licence is for {{ data['licence-for'] }}<br>
  {% endif %}

  {% if data['angler'] %}
    Angler is {{ data['angler'] }}<br>
  {% endif %}

  {% if data['first-name'] %}
    Name is {{ data['first-name'] + ' ' + data['last-name'] }}<br>
  {% endif %}

  <!-- {% if data['concession'] %}
    Concession {{ data['concession'] }}<br>
  {% endif %} -->

  {% if data['email'] or data['licence-by'] %}
    Licence by {{ data['licence-by'] }}<br>
    Email is {{ data['email'] }}<br>
  {% endif %}

</div>
{% endif %}
