<!-- {% if (data['source']) or (data['licence-for']) or (data['angler']) or (data['first-name']) %}
<div class="govuk-inset-text">


    {{ data['licences'] or 0 }} licences<br>


  {% if data['source'] %}
    Source is {{ data['source'] }}<br>
  {% endif %}

  {% if data['licence-for'] %}
    Licence is for {{ data['licence-for'] }}<br>
  {% endif %}

  {% if data['angler'] %}
    Angler is {{ data['angler'] }}<br>
  {% endif %}

  {% if data['first-name'] %}
    Name is {{ data['first-name'] + ' ' + data['last-name'] }}
  {% endif %}

</div>
{% endif %} -->
