<!-- Rod licence terms -->
<!--
GAFL versions - version 2
Dynamic versions (tailored to licence type) to appear on licence conditions page within journey.
-->

<p class="govuk-body">
  It is an offence to act in breach of the licence conditions. The following conditions apply:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    the licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder
  </li>
  <li>
    the licence is only valid from its start date and time until its expiry date and time
  </li>
  <li>
    depending on the licence bought, it will cover the licence holder to fish with 1 rod for salmon, sea trout and non-migratory trout in rivers, streams and canals, up to 2 rods for salmon, sea trout and non-migratory trout in reservoirs, lakes and ponds or up to 3 rods for freshwater fish, smelt, lamprey and eels where byelaws allow
  </li>
  <li>
    the licence does not give the licence holder the right to fish anywhere. The licence holder must get permission from any local land owners before fishing. This may involve a separate charge from them, and separate rules may also apply
  </li>
  <li>
    the licence holder must comply with <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk-link" rel="noreferrer noopener" target="_blank">local and national fisheries byelaws</a>
  </li>
  <li>
    when fishing, or intending to fish, the licence holder must carry their fishing licence or proof of purchase and show it to our enforcement officers if they ask to see it. If the licence holder is still waiting for their licence to arrive in the post, they must carry proof of the licence and proof of identity
  </li>

</ul>


2.1 Buying for self (salmon and sea trout)
Conditions of your fishing licence
It is an offence to act in breach of your licence conditions. The following conditions apply:
your licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for you.
your licence is only valid from its start date and time until its expiry date and time.
your licence will cover you to fish with 1 rod for salmon, sea trout and non-migratory trout in rivers, streams and canals, up to 2 rods for salmon, sea trout and non-migratory trout in reservoirs, lakes and ponds or up to 3 rods for freshwater fish, smelt, lamprey and eels where byelaws allow.
your licence does not give you the right to fish anywhere. You must get permission from any local land owners before fishing. This may involve a separate charge from them, and separate rules may also apply.
you must comply with local and national fisheries byelaws.
When fishing, or intending to fish, you must carry your fishing licence or proof of purchase and show it to our enforcement officers if they ask to see it. If you are still waiting for your licence to arrive in the post, you must carry proof of the licence and proof of your identity.
you must report a catch return (opens in a new tab) of your yearly salmon and sea trout fishing activity in England and Wales, even if you do not catch anything or do not fish.
TICK BOX: I agree to the licence conditions.

2.2 Buying on behalf of variation (salmon and sea trout):
Conditions of the fishing licence
The licence holder must view and agree to these conditions. It is an offence to act in breach of the licence conditions. The following conditions apply:
the licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder.
the licence is only valid from its start date and time until its expiry date and time.
the licence will cover the licence holder to fish with 1 rod for salmon, sea trout and non-migratory trout in rivers, streams and canals, up to 2 rods for salmon, sea trout and non-migratory trout in reservoirs, lakes and ponds or up to 3 rods for freshwater fish, smelt, lamprey and eels where byelaws allow.
the licence does not give the licence holder the right to fish anywhere. The licence holder must get permission from any local land owners before fishing. This may involve a separate charge from them, and separate rules may also apply.
the licence holder must comply with local and national fisheries byelaws.
When fishing, or intending to fish, the licence holder must carry their fishing licence or proof of purchase and show it to our enforcement officers if they ask to see it. If the licence holder is still waiting for their licence to arrive in the post, they must carry proof of the licence and proof of their identity.
The licence holder will report a catch return (opens in a new tab) of their yearly salmon and sea trout fishing activity in England and Wales, even if they do not catch anything or do not fish.
TICK BOX: I confirm that the licence holder has viewed and agreed to the conditions of their licence.

2.3 Buying for self (coarse and trout up to 2 rods)
Conditions of your fishing licence
It is an offence to act in breach of your licence conditions. The following conditions apply:
your licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for you.
your licence is only valid from its start date and time until its expiry date and time.
your licence will cover you for 1 rod for non-migratory trout in rivers, streams, drains and canals, up to 2 rods for non-migratory trout in reservoirs, lakes and ponds or up to 2 rods for freshwater fish, smelt lamprey and eels where byelaws allow.
Your licence does not give you the right to fish anywhere. You must get permission from any local land owners before you fish. This may involve a separate charge from them, and separate rules may also apply.
You must comply with local and national fisheries byelaws.
When fishing, or intending to fish, you must carry your fishing licence or proof of purchase and show it to our enforcement officers if they ask to see it. If you’re still waiting for your licence to arrive in the post, you must carry proof of the licence and proof of your identity.
TICK BOX: I agree to the licence conditions

2.4 Buying on behalf of (coarse and trout up to 2 rods)
Conditions of the fishing licence
The licence holder must view and agree to these conditions. It is an offence to act in breach of the
licence conditions. The following conditions apply:
the licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder.
the licence is only valid from its start date and time until its expiry date and time.
the licence will cover you for 1 rod for non-migratory trout in rivers, streams, drains and canals, up to 2 rods for non-migratory trout in reservoirs, lakes and ponds or up to 2 rods for freshwater fish, smelt lamprey and eels where byelaws allow.
the licence does not give the licence holder the right to fish anywhere. The licence holder must get permission from any local land owners before fishing. This may involve a separate charge from them, and separate rules may also apply.
The licence holder must comply with local and national fisheries byelaws.
When fishing, or intending to fish, the licence holder must carry their fishing licence or proof of purchase and show it to our enforcement officers if they ask to see it. If the licence holder is still waiting for their licence to arrive in the post, they must carry proof of the licence and proof of their identity.

TICK BOX: I confirm that the licence holder has viewed and agreed to the conditions of their licence.

2.5 Buying for self (coarse and trout up to 3 rods)

Conditions of your fishing licence
It is an offence to act in breach of your licence conditions. The following conditions apply:
your licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for you.
your licence is only valid from its start date and time until its expiry date and time.
your licence will cover you for 1 rod for non-migratory trout in rivers, streams, drains and canals, up to 2 rods for non-migratory trout in reservoirs, lakes and ponds or up to 3 rods for freshwater fish, smelt lamprey and eels where byelaws allow.
Your licence does not give you the right to fish anywhere. You must get permission from any local land owners before you fish. This may involve a separate charge from them, and separate rules may also apply.
You must comply with local and national fisheries byelaws.
When fishing, or intending to fish, you must carry your fishing licence or proof of purchase and show it to our enforcement officers if they ask to see it. If you’re still waiting for your licence to arrive in the post, you must carry proof of the licence and proof of your identity.

TICK BOX: I agree to the licence conditions

2.6 Buying on behalf of (coarse and trout up to 3 rods)
Conditions of the fishing licence
The licence holder must view and agree to these conditions. It is an offence to act in breach of the licence conditions. The following conditions apply:
the licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder.
the licence is only valid from its start date and time until its expiry date and time.
the licence will cover the licence holder for 1 rod for non-migratory trout in rivers, streams, drains and canals, up to 2 rods for non-migratory trout in reservoirs, lakes and ponds or up to 3 rods for freshwater fish, smelt lamprey and eels where byelaws allow.
the licence does not give the licence holder the right to fish anywhere. The licence holder must get permission from any local land owners before fishing. This may involve a separate charge from them, and separate rules may also apply.
the licence holder must comply with local and national fisheries byelaws.
When fishing, or intending to fish, the licence holder must carry their fishing licence or proof of purchase and show it to our enforcement officers if they ask to see it. If the licence holder is still waiting for their licence to arrive in the post, they must carry proof of the licence and proof of their identity.

TICK BOX: I confirm that the licence holder has viewed and agreed to the conditions of their licence -->
