<!-- Rod licence terms -->
<!-- <h1 class="govuk-heading-l">
  Fishing Licence Conditions
</h1> -->

<p class="govuk-body">
  It is an offence to act in breach of the licence conditions. The following conditions apply:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    the licence is only valid for use in England, Wales and the Border Esk in Scotland and is only valid for the licence holder
  </li>
  <li>
    the licence is only valid from its start date and time until its expiry date and time
  </li>
  <li>
    depending on the licence bought, it will cover the licence holder to fish with 1 rod for salmon, sea trout and non-migratory trout in rivers, streams and canals, up to 2 rods for salmon, sea trout and non-migratory trout in reservoirs, lakes and ponds or up to 3 rods for freshwater fish, smelt, lamprey and eels where byelaws allow
  </li>
  <li>
    the licence does not give the licence holder the right to fish anywhere. The licence holder must get permission from any local land owners before fishing. This may involve a separate charge from them, and separate rules may also apply
  </li>
  <li>
    the licence holder must comply with <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk-link" rel="noreferrer noopener" target="_blank">local and national fisheries byelaws</a>
  </li>
  <li>
    when fishing, or intending to fish, the licence holder must carry their fishing licence or proof of purchase and show it to our enforcement officers if they ask to see it. If the licence holder is still waiting for their licence to arrive in the post, they must carry proof of the licence and proof of identity
  </li>

</ul>
