{% extends "layout-unbranded.html" %}

{% set bodyClasses = "govuk-email" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% set title = "‘I want to fish’ prototype" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- <h1 class="govuk-heading-xl">
      {{title}}
    </h1> -->




 <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">From: notifications@ea.gov.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">To: sam.fisher@email.com</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Subject: Your rod fishing licence is about to expire</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <br>
            <br>
            <p>Dear Sam Fisher,</p>
            <h2>Your fishing licence ending XCU9 expires on 30 June 2023.</h2>
            <p>Here is your personal link to renew your licence <a href="/gafl-er-rp-11-07-23/er-confirm-your-details">https://get-fishing-licence.service.gov.uk/renew/23080224-2WC3FRP-ACXCU9</a>. Using this link will make the process quicker and easier and is valid for 60 days</p>
            <p>Alternatively, visit <a href="https://www.gov.uk/fishing-licences/buy-a-fishing-licence">https://www.gov.uk/fishing-licences/buy-a-fishing-licence</a> to get a new one or call our telephone line on 0344 800 5386. Lines are open Monday to Friday, 8:00am to 6:00pm (excluding Bank Holidays).</p>
            <p>Go paperless and get your licence and reminder by email or text – this will help the environment by reducing paper usage and save money that can be invested in fisheries work.</p>
            <h2>Please ignore this email if you have already renewed your licence.</h2>
            
            <p>Thank you,<br>The Environment Agency Fisheries Team</p>
          </td>
        </tr>
      </tbody>
    </table>













  </div>
</div>

<!-- notes about the service & prototype -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





  </div>
</div>

{% endblock %}
