{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "How long do you want your licence for?" %}
{% else %}
  {% set title = "How long do they want the licence for?" %}
{% endif %}

{% block pageTitle %}
  {% if data['errorcode'] == 14 %}
    Error - {{title}} - {{serviceName}} - GOV.UK
  {% else %}
    {{title}} - {{serviceName}} - GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% if data['errorcode'] == 14 %}

        <!-- error summary -->
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Choose the length of this licence",
              href: "#licence-length"
            }
          ]
        }) }}

      {% endif %}





      <form action="/licenceLength" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>





            {% if data['errorcode'] == 14 %}
              <div class="govuk-form-group govuk-form-group--error">
                <span class="govuk-error-message" id="question">
                  <span class="govuk-visually-hidden">Error:</span> Choose the length of this licence
                </span>
            {% else %}
              <div class="govuk-form-group">
                {% endif %}
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-length" name="licence-length" type="radio" value="12 month" data-aria-controls="conditional-licence-length">
                <label class="govuk-label govuk-radios__label" for="licence-length">
                   12 months
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-length-2" name="licence-length" type="radio" value="8 day" data-aria-controls="conditional-licence-length-2">
                <label class="govuk-label govuk-radios__label" for="licence-length-2">
                  8 days
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-length-2">
                <div class="govuk-form-group">
                  <p class="govuk-body">
                    8 day licences are valid for 8 consecutive days from the start time that you select.
                  </p>
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-length-3" name="licence-length" type="radio" value="1 day" data-aria-controls="conditional-licence-length-3">
                <label class="govuk-label govuk-radios__label" for="licence-length-3">
                   1 day
                </label>

              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-licence-length-3">
                <div class="govuk-form-group">
                  <p class="govuk-body">
                    1 day licences are valid for 24 hours from the start time that you select.
                  </p>
                </div>
              </div>


            </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>


    <div class="govuk-grid-column-one-third payment-summary-wrap">

        <div id="pricing-12M" role="status" class="payment-summary initially-hidden" style="display: none;">
            <h2 class="govuk-heading-m">How much will this cost?</h2>
            <p class="govuk-body-s">Trout and coarse, up to 2 rods</p>
                    <div class="govuk-body" id="pricing-summary-element-cost">
                        <span>Total</span>
                            <strong>£33</strong>
                    </div>
        </div>

        <div id="pricing-8D" role="status" class="payment-summary initially-hidden" style="display: none;">
            <h2 class="govuk-heading-m">How much will this cost?</h2>
            <p class="govuk-body-s">Trout and coarse, up to 2 rods</p>
                    <div class="govuk-body" id="pricing-summary-element-cost">
                        <span>Total</span>
                            <strong>£13.20</strong>
                    </div>
        </div>

        <div id="pricing-1D" role="status" class="payment-summary initially-hidden" style="display: none;">
            <h2 class="govuk-heading-m">How much will this cost?</h2>
            <p class="govuk-body-s">Trout and coarse, up to 2 rods</p>
                    <div class="govuk-body" id="pricing-summary-element-cost">
                        <span>Total</span>
                            <strong>£6.60</strong>
                    </div>
        </div>

    </div>


  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function(){
      $('input[type="radio"]').click(function(){
        $('.payment-summary').hide();

        var inputValue = $(this).attr("value");

        if (inputValue == '12 month') {
          $('#pricing-12M').show();
        }
        else if (inputValue == '8 day') {
          $('#pricing-8D').show();
        }
        else if (inputValue == '1 day') {
          $('#pricing-1D').show();
        }

      });
    });
  </script>

{% endblock %}
