{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "How do you want to get your fishing licence?" %}
{% else %}
  {% set title = "How does the licence holder want to get their fishing licence?" %}
{% endif %}

{% block pageTitle %}
  {{title}} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      {% if data['optionerrorcode'] == 1 %}

        <!-- error summary -->
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Choose if you want this licence to be paperless",
              href: "#licence-option-digital"
            }
          ]
        }) }}

      {% endif %}


      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Plastic-coated card licences will be replaced by a printed letter from 31 May 2024.
          </p>
          <p class="govuk-body">
            Choosing to get a licence by email or text message helps reduce the paper we use and invests more licence income back into fishing.
          </p>
        </div>
      </div>


      <form action="/multibuy-check-licence-option" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <p class="govuk-body">
              Getting a licence by email or text message helps the environment by reducing the paper we use and means we can invest more money in fishing.
            </p>




            {% if data['optionerrorcode'] == 1 %}
              <div class="govuk-form-group govuk-form-group--error">
            {% else %}
              <div class="govuk-form-group">
            {% endif %}
            <!-- radios -->
            <div class="govuk-radios">

              {% if data['optionerrorcode'] == 1 %}
              <span class="govuk-error-message" id="question">
                <span class="govuk-visually-hidden">Error:</span> Choose if you want this licence to be paperless
              </span>
              {% endif %}

              <!-- radio 1 -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-option-digital" name="licence-option" type="radio" value="digital" aria-describedby="licence-option-digital-hint">
                <label class="govuk-label govuk-radios__label" for="licence-option-digital">
                  By email or text message
                </label>
                {% if data['licenceFor'] == "user" %}
                <div id="licence-option-digital-hint" class="govuk-hint govuk-radios__hint">
                  The email or text message is proof of your fishing licence.
                </div>
                {% else %}
                <div id="licence-option-digital-hint" class="govuk-hint govuk-radios__hint">
                  The email or text message is proof of their fishing licence.
                </div>
                {% endif %}
              </div>
              <!-- radio 2 -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="licence-option-paper" name="licence-option" type="radio" value="paper-licence" aria-describedby="licence-option-paper-hint">
                <label class="govuk-label govuk-radios__label" for="licence-option-paper">
                  By post
                </label>
                {% if data['licenceFor'] == "user" %}
                <div id="licence-option-paper-hint" class="govuk-hint govuk-radios__hint">
                  A fishing licence will be posted within 15 working days. You can fish from the start date and time you have selected and do not need to wait for the licence to arrive.
                </div>
                {% else %}
                <div id="licence-option-paper-hint" class="govuk-hint govuk-radios__hint">
                  A fishing licence will be posted within 15 working days. The licence holder can fish from the start date and time you have selected and does not need to wait for the licence to arrive.
                </div>
                {% endif %}
              </div>
            </div>
          </div>


          <br><br>

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>

          </fieldset>
        </div>

      </form>

      <!-- <p class="govuk-body">
        <a href="https://www.gov.uk/government/publications/fisheries-annual-report-2019-to-2020/fisheries-annual-report-2019-to-2020" class="govuk-link" target="_blank">See how we spend money on fish and fishing (opens in a new window)</a>.
      </p> -->

    </div>
  </div>

{% endblock %}
