{% extends "layout.html" %}

{% set title = "Payment complete" %}

<!-- grab data from allLicences -->
{% set allLicences = data['allLicences'] %}

{% block pageTitle %}
  {{title}} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">

        <span class="govuk-panel__title">£33</span>
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>

        <div class="govuk-panel__body">
          <div class="govuk-!-margin-bottom-6">
            Licence number:<br><span class="govuk-!-font-weight-bold">23200824-2WC3FSF-AC2GC8</span>
          </div>
          <div class="govuk-!-margin-bottom-3">
            Valid from:<br><span class="govuk-!-font-weight-bold">11:00am on 28 April 2024</span>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-!-margin-bottom-9">

        <p class="govuk-body">
          Your licence will arrive in the post within 15 working days. You can fish from the date and time selected and do not need to wait for a licence to arrive.
        </p>

        <h2 class="govuk-heading-m">When fishing</h2>

        <p class="govuk-body">
          An enforcement officer may ask if you are covered by a valid fishing licence. If you are waiting for your licence to arrive in the post, you can tell them your fishing licence number or show a printout or screenshot of <a href="licence-information">your licence details</a>.
        </p>

        <p class="govuk-body">
          You must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">national and local fishing byelaws (opens in new tab)</a>.
        </p>

        <p class="govuk-body">
          Salmon and sea trout licence holders must <a href="#" target="_blank">submit a catch return (opens in new tab)</a> of yearly salmon and sea trout fishing activity in England and Wales. A catch return must be submitted even if no fish are caught or no fishing activity took place.
        </p>

        <h2 class="govuk-heading-m">Buy another licence</h2>

        <p class="govuk-body">
          You can <a href="https://get-fishing-licence.service.gov.uk/buy/new">buy another licence</a> for yourself or someone else.
        </p>

        <h2 class="govuk-heading-m">Before you leave this page</h2>

        <p class="govuk-body">
          You may like to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link" target="_blank">help us improve this service (opens in new tab)</a> - takes 30 seconds</li>
          <li><a href="https://www.gov.uk/government/publications/fisheries-annual-report-2019-to-2020/fisheries-annual-report-2019-to-2020" class="govuk_link" target="_blank">read the fisheries annual report (opens in new tab)</a> to see how we spend income from fishing licences</li>
        </ul>


      </div>


    </div>
  </div>

{% endblock %}
