{% extends "layout.html" %}

{% if data['licenceFor'] == "user" %}
  {% set title = "Choose your address" %}
{% else %}
  {% set title = "Choose their address" %}
{% endif %}

{% block pageTitle %}
  {{title}} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text no-print">
      Your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/0L205/" rel="noreferrer noopener" target="_blank">feedback (opens in new tab)</a> will help us improve the service
    </span>
  </p>
</div>

<div class="govuk-width-container govuk-!-display-none-print govuk-!-margin-top-2">
  <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-0">
    <span class="govuk-body-s govuk-!-margin-2">English</span> | <a class="govuk-link govuk-!-margin-2" href="?lang=cy">Cymraeg</a>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% if data['foundaddresserror'] == 1 %}

        <!-- error summary -->
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Choose an address",
              href: "#found-address"
            }
          ]
        }) }}

      {% endif %}


        <form action="/selectAddress" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{ title }}
            </h1>
          </legend>

          <p class="govuk-body">
            4 addresses found for 2a Bailey House and BS2 1PP. <a href="" class="govuk-link">Change</a>
          </p>

          {% if data['foundaddresserror'] == 1 %}
            <div class="govuk-form-group govuk-form-group--error">
              <span class="govuk-error-message" id="question">
                <span class="govuk-visually-hidden">Error:</span> Choose an address
              </span>
          {% else %}
            <div class="govuk-form-group">
              {% endif %}
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="found-address" name="found-address" type="radio" value="2A BAILEY HOUSE, BAILEY ROAD, BS2 1PP">
              <label class="govuk-label govuk-radios__label" for="found-address">
                2A BAILEY HOUSE, BAILEY ROAD, BS2 1PP
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="found-address-2" name="found-address" type="radio" value="1A BAILEY HOUSE, BAILEY ROAD, BS2 1PP">
              <label class="govuk-label govuk-radios__label" for="found-address-2">
                1A BAILEY HOUSE, BAILEY ROAD, BS2 1PP
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="found-address-3" name="found-address" type="radio" value="3A BAILEY HOUSE, BAILEY ROAD, BS2 1PP">
              <label class="govuk-label govuk-radios__label" for="found-address-3">
                3A BAILEY HOUSE, BAILEY ROAD, BS2 1PP
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="found-address-4" name="found-address" type="radio" value="4A BAILEY HOUSE, BAILEY ROAD, BS2 1PP">
              <label class="govuk-label govuk-radios__label" for="found-address-4">
                4A BAILEY HOUSE, BAILEY ROAD, BS2 1PP
              </label>
            </div>
          </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body-m">
      <a href="address" class="govuk-link">Enter the address manually</a>
    </p>

  </div>
</div>

{% endblock %}
