{% extends "layout.html" %}

{% set title = "Payment complete" %}

<!-- grab data from allLicences -->
{% set allLicences = data['allLicences'] %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">

        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>

        <div class="govuk-panel__body">
          <div class="govuk-!-margin-bottom-6">
            You have paid <span class="govuk-!-font-weight-bold">£66</span> for 2 fishing licences
          </div>
        </div>
      </div>
      <!-- <form action="licence-information">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          View licence details
        </button>
      </form>
 -->


<h2 class="govuk-heading-m">Get your licence details</h2>


 <p class="govuk-body">
   <a href="/gafl-multibuy-accordion/licence-information-static" class="govuk-link">View all licences purchased</a>
 </p>

 <p class="govuk-body">
          Individual licence details will also be sent by text or email</a>.
        </p>

  <p class="govuk-body">
          Licences requested by post will arrive within 15 working days. Licence holders can fish from the date and time selected and do not need to wait for a licence to arrive</a>.
        </p>

<h2 class="govuk-heading-m">When fishing</h2>



        <p class="govuk-body">
          An enforcement officer may ask if you are covered by a valid fishing licence. You can tell them your fishing licence number if you have written it down, or show a printout or screenshot of <a href="/gafl-multibuy-accordion/licence-information-static" class="govuk-link">your licence details</a>.
        </p>

        <p class="govuk-body">
          Licence holders must follow the <a href="https://www.gov.uk/guidance/national-rod-fishing-byelaws-for-england-freshwater-fishing-with-a-rod-and-line" class="govuk_link" target="_blank">national and local fishing byelaws (opens in new tab)</a>.
        </p>

        <p class="govuk-body">
          Salmon and sea trout licence holders must <a href="https://www.gov.uk/catch-return" class="govuk_link" target="_blank">submit a catch return (opens in new tab)</a> of yearly salmon and sea trout fishing activity in England and Wales. A catch return must be submitted even if no fish are caught or no fishing activity took place.
        </p>

<h2 class="govuk-heading-m">Help us improve this service</h2>
      
      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/0L205/" class="govuk-link">Tell us what you think of the service</a> (takes 30 seconds)
      </p>

    </div>
  </div>


{% endblock %}
