{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% set title = "‘I want to fish’ prototype" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <p class="govuk-!-margin-bottom-1">
      <a href="https://github.com/DEFRA/fish-prototype">
        GitHub: DEFRA / fish-prototype
      </a>
    </p>

    <p class="govuk-!-margin-bottom-6">
      <a href="fish-folders">
        Useful fish folders
      </a>
    </p>

    <p>
      This index is a new format, if you need it here is <a href="old-index">the old index page</a>.
    </p>

  </div>
</div>

<!-- notes about the service & prototype -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">

      <caption class="govuk-table__caption govuk-table__caption--m">
        Prototype versions
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Version</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">



        <!-- <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Recurring payments
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              December 2022
            </p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl-recurring-payments/name">Recurring payment start</a></li>
            </ul>
          </td>
        </tr> -->



        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Licence price increase, multibuy confirmation page
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              November 2022
            </p>
            <!-- <ul class="govuk-list govuk-body-s">
              <li>Licence conditions - accordion</li>
              <li></li>
              <li></li>
            </ul> -->
          </th>
          <td class="govuk-table__cell">
            <!-- <h3 class="govuk-heading-s">
              v1
            </h3> -->
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl-price-increase/who-is-this-licence-for">Licence price increase start</a></li>
              <li><a href="gafl-price-increase/start-kind">Licence price increase banner</a></li>
              <li><a href="gafl-price-increase/licence-price-increase">Licence price increase info page</a></li>
              <li><a href="/gafl-multibuy-accordion-alt-conf/who-is-this-licence-for">BOBO/Multibuy with simplified confirmation page</a></li>
              <li><a href="/gafl-multibuy-accordion/payment-complete-v2">Direct link to alternative confirmation page</a></li>
            </ul>
          </td>
        </tr>




        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Licence conditions
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              April 2022
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>Licence conditions - accordion</li>
              <li></li>
              <li></li>
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              BOBO/Multibuy - Accordion licence conditions
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl-multibuy-accordion/who-is-this-licence-for">BOBO/Multibuy start</a></li>

              <li><a href="/gafl-multibuy-accordion/licence-terms">Licence conditions page</a></li>
              <!-- <li><a href="/gafl-multibuy-accordion/payment-complete-v2">Alternative confirmation page, November 2022</a></li> -->
            </ul>
          </td>
        </tr>



        <!-- template row

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Second heading
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              November 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>Thing 1</li>
              <li>Thing 2</li>
              <li>Thing 3</li>
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              Third heading
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Thing 1</li>
              <li>Thing 2</li>
              <li>Thing 3</li>
            </ul>
          </td>
        </tr>

        -->

        <!-- GAFL updates / generic navigation error -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Get a rod fishing licence (GAFL)
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              December 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>A check for users who try to reset GAFL when they said they would make a note of their licence number</li>
              <!-- <li>Thing 2</li>
              <li>Thing 3</li> -->
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              Generic navigation error
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl/licence-confirmation">How do you want your licence?</a></li>
              <li><a href="/gafl/payment-complete?licence-confirmation=note">Payment complete</a></li>
              <!-- <li>Thing 2</li>
              <li>Thing 3</li> -->
            </ul>
          </td>
        </tr>

        <!-- BOBO / multi-buy -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              ‘Buying on behalf of’ (BOBO) and Multi-buy
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              December 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>BOBO content changes in preparation for Welsh language toggle</li>
            </ul>
          </th>

          <td class="govuk-table__cell">

            <h3 class="govuk-heading-s">
              BOBO / Multi-buy journey
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/gafl-multibuy/who-is-this-licence-for?source=gafl">BOBO multi-buy start</a></li>
              </section>
            </ul>

          </td>
        </tr>

        <!-- BOBO / multi-buy -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              BOBO and Multi-buy
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              November 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>BOBO</li>
              <li>Multi-buy</li>
              <li>BOBO/Multi-buy licence conditions</li>
            </ul>
          </th>

          <td class="govuk-table__cell">

            <h3 class="govuk-heading-s">
              Multi-buy licence condition options
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/gafl-multibuy-2021-12/licence-type?terms=1">On the licence type screen</a></li>
                <li><a href="/gafl-multibuy-2021-12/fishing-licence-conditions">Licence static terms</a></li>
              </section>
            </ul>

            <h3 class="govuk-heading-s">
              Errors for multi-buy and BOBO
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/gafl-multibuy-2021-12/who-is-this-licence-for?source=gafl&error=1">Tell us who the licence is for error</a></li>
                <li><a href="/gafl-multibuy-2021-12/add-another-licence?error=1">Tell us if you want to get more licences error</a></li>
              </section>
            </ul>

            <h3 class="govuk-heading-s">
              Multi-buy licence condition options
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/gafl-multibuy-2021-12/who-is-this-licence-for?source=gafl&terms=1">BOBO / multi-buy with new terms pattern</a></li>
                <li><a href="/gafl-multibuy-2021-12/licence-conditions-notice?option=">Licence conditions with checkbox</a></li>
                <li><a href="/gafl-multibuy-2021-12/licence-conditions-notice?option=1">Licence conditions with warning</a></li>
                <li><a href="/gafl-multibuy-2021-12/licence-conditions-notice?option=1">Licence conditions with checkbox and warning (possibly too much emphasis)</a></li>
              </section>
            </ul>

          </td>
        </tr>

        <!-- Welsh language options -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Welsh language options
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              November 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>Language question</li>
              <li>Language toggle control</li>
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              Language control options
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl/language-option">Language question up-front</a></li>
              <li><a href="/gafl/date-of-birth?lang=en">Language switcher in the header (English)</a></li>
              <li><a href="/gafl/date-of-birth?lang=cy">Language switcher in the header (Cymraeg)</a></li>
              <li><a href="/gafl/dob">Feedback banner and language switcher combined</a></li>
              <li><a href="/gafl-multibuy-2021-12/who-is-this-licence-for">Language link above the green button</a></li>
            </ul>
          </td>
        </tr>

        <!-- Easy renew -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Easy renew
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              October 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>Renew links</li>
              <li>Journey with paperless licence options</li>
              <li>Email and easy renew verfication</li>
              <li>Error messages</li>
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              GAFL to renew link
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl/date-of-birth?renew=1">Option 1 - Link to renew on the first screen of the service</a></li>
              <li><a href="/gafl/service-start?renew=">Option 2 - Service start question (we should add back buttons to the GAFL / renew screens if we do this)</a></li>
            </ul>

            <h3 class="govuk-heading-s">
              Easy renew with paperless options
            </h3>

            <ul class="govuk-list govuk-list--bullet">

              <li><a href="/renew/renew-email?licenceBy=email&email=sam.fisher@email.com">Easy renew email</a></li>
              <li><a href="/renew/check-licence-holder">Check the licence holder</a></li>
              <br>
              <li><a href="/renew/check-licence">Check licence (enter last six digits) - Users who do not use the magic link</a></li>
              <li><a href="/renew/old-link">Link out of date</a></li>
            </ul>

            <h3 class="govuk-heading-s">
              Easy renew error messages
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/renew/check-licence">Matching the licence</a></li>
              <li><a href="/renew/check-licence-error">Matching the licence error</a></li>
              <li><a href="/renew/check-licence-holder">Check you are the licence holder</a></li>
              <li><a href="/renew/check-licence-holder-error">Check you are the licence holder error</a></li>
            </ul>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Easy renew journey
                </span>
              </summary>
              <div class="govuk-details__text">

                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="/renew/check-licence-details">Check the licence details</a></li>
                  <li><a href="/renew/licence-option">Would you like to go paperless?</a></li>
                  <li><a href="/renew/licenceBy?licenceBy=email&email=sam.fisher@email.com">Where should we send your licence?</a></li>
                  <li><a href="/renew/contact-preference">How should we contact you?</a></li>
                  <li><a href="/renew/check-contact-details">Check the contact details</a></li>
                  <li><a href="/renew/licence-conditions">Terms and conditions</a></li>
                  <li><a href="/renew/payment">Payment</a></li>
                  <li><a href="/renew/payment-confirmed">Confirm payment</a></li>
                  <!-- <li><a href="/renew/licence-renewal-confirmed">Payment complete</a></li> -->

                  <li><a href="/renew/payment-complete?licence-option=paper-licence">Payment confirmation (paper licence)</a></li>
                  <li><a href="/renew/payment-complete?licence-option=digital">Payment confirmation (digital licence)</a></li>
                </ul>
              </div>
            </details>

          </td>
        </tr>

        <!-- BOBO / multi-buy SNAPSHOT -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              BOBO and Multi-buy
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              September 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>BOBO</li>
              <li>Multi-buy</li>
              <li>BOBO/Multi-buy licence conditions</li>
            </ul>
          </th>

          <td class="govuk-table__cell">

            <h3 class="govuk-heading-s">
              Multi-buy licence condition options
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/gafl-multibuy-2021-12/licence-type?terms=1">On the licence type screen</a></li>
                <li><a href="/gafl-multibuy-2021-12/fishing-licence-conditions">Licence static terms</a></li>
              </section>
            </ul>

            <h3 class="govuk-heading-s">
              Errors for multi-buy and BOBO
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/gafl-multibuy-2021-12/who-is-this-licence-for?source=gafl&error=1">Tell us who the licence is for error</a></li>
                <li><a href="/gafl-multibuy-2021-12/add-another-licence?error=1">Tell us if you want to get more licences error</a></li>
              </section>
            </ul>

            <h3 class="govuk-heading-s">
              Multi-buy licence condition options
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/gafl-multibuy-2021-12/who-is-this-licence-for?source=gafl&terms=1">BOBO / multi-buy with new terms pattern</a></li>
                <li><a href="/gafl-multibuy-2021-12/licence-conditions-notice?option=">Licence conditions with checkbox</a></li>
                <li><a href="/gafl-multibuy-2021-12/licence-conditions-notice?option=1">Licence conditions with warning</a></li>
                <li><a href="/gafl-multibuy-2021-12/licence-conditions-notice?option=1">Licence conditions with checkbox and warning (possibly too much emphasis)</a></li>
              </section>
            </ul>

          </td>
        </tr>

        <!-- GAFL -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Get a rod fishing licence (GAFL)
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              August 2021
            </p>

            <ul class="govuk-list govuk-body-s">
              <li>Paperless licence options</li>
              <li>More consistent licence format</li>
              <li>Midnight content change</li>
            </ul>

          </th>
          <td class="govuk-table__cell">

            <h3 class="govuk-heading-s">
              Reference
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="gafl/date-of-birth" class="govuk-link--no-visited-state">
                  What is your date of birth?
                </a>
              </li>
              <li>
                <a href="gafl/licence-option?">
                  GAFL paperless question
                </a>
              </li>
              <li>
                <a href="standard-licence-format">
                  Standard licence format
                </a>
              </li>
            </ul>

            <h3 class="govuk-heading-s">
              Licence information
            </h3>

            <ul class="govuk-list govuk-list--bullet">

              <li>
                <a href="licence/licence-information?age-concession=&disability-status=">
                  Licence information (no concession, no disability status)
                </a>
              </li>
              <li>
                <a href="licence/licence-information?age-concession=1&disability-status=">
                  Licence information (age concession)
                </a>
              </li>
              <li>
                <a href="licence/licence-information?age-concession=1&disability-status=1">
                  Licence information (age concession and disability status)
                </a>
              </li>
              <li>
                <a href="gafl/licence-details?midnight=1">
                  Licence details - Midnight
                </a>
              </li>

            </ul>


            <h3 class="govuk-heading-s">
              Payment complete variations
            </h3>

            <ul class="govuk-list govuk-list--bullet">

              <li>
                <a href="gafl/payment-complete?licence-type=full&licence-option=paper&licenceBy=post&rcr=">
                  Adult paper licence, confirmation by post
                </a>
              </li>
              <li>
                <a href="gafl/payment-complete?licence-type=full&licence-option=paper&licenceBy=email&rcr=">
                  Adult paper licence, confirmation by email
                </a>
              </li>
              <li>
                <a href="gafl/payment-complete?licence-type=full&licence-option=paper&licenceBy=phone&rcr=">
                  Adult paper licence, confirmation by text
                </a>
              </li>
              <li>
                <a href="gafl/payment-complete?licence-type=full&licence-option=digital&licenceBy=email&rcr=">
                  Adult digital licence by email
                </a>
              </li>
              <li>
                <a href="gafl/payment-complete?licence-type=full&licence-option=digital&licenceBy=phone&rcr=">
                  Adult digital licence by text
                </a>
              </li>
              <li>
                <a href="gafl/payment-complete?licence-type=junior&licence-option=digital&licenceBy=note&rcr=">
                  Junior licence
                </a>
              </li>
              <li>
                <a href="gafl/payment-complete?licence-type=full&licence-option=digital&licenceBy=note&rcr=true">
                  Adult Salmon and Sea-Trout licence
                </a>
              </li>

            </ul>

          </td>
        </tr>

        <!-- Report a catch return -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Report a catch return
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              July 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>Licence verification</li>
              <li>Cookies update</li>
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">

            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li>
                  <a href="/report-catch/enter-your-details">
                    Enter your licence details and postcode
                  </a>
                </li>
                <li>
                  <a href="/report-catch/cookies">
                    RCR cookies page
                  </a>
                </li>
              </section>
            </ul>
          </td>
        </tr>

        <!-- Paperless licence / digital licence options -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Digital only licence options
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              June 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>Paperless licence questions</li>
              <li>3 iterations</li>
              <li>Thing 3</li>
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              Iteration after round 2
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl/licence-conditions">Terms and conditions (as it was in round 2 of the research)</a></li>
              <li><a href="/gafl/licence-conditions-a">Terms and conditions option 1 (updated fishing byelaws clause)</a></li>
              <li><a href="/gafl/licence-conditions-b">Terms and conditions option 2 (updated fishing byelaws clause)</a></li>
              <li><a href="/gafl/payment-details">Enter card details screen (as it was in round 2 of the research)</a></li>
              <li><a href="/gafl/payment-details-configured">Enter card details screen with proposed changes</a></li>
              <li><a href="/gafl/payment-complete?licence-option=paper-licence">Payment confirmation with more prominent link to licence information (paper licence)</a></li>
              <li><a href="/gafl/payment-complete?licence-option=digital">Payment confirmation with more prominent link to licence information (digital licence)</a></li>
            </ul>

            <h3 class="govuk-heading-s">
              Round 2
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl/dob">GAFL journey start</a></li>
              <li><a href="/gafl/licence-option">Do you want to go paperless?</a></li>
              <li><a href="/gafl/licenceBy">Where should we send your licence?</a></li>
              <li><a href="/gafl/contact-preference">How should we contact you?</a></li>
              <li><a href="/gafl/licence-conditions">Terms and conditions</a></li>
              <li><a href="/gafl/payment-complete?licence-option=paper-licence">Payment confirmation (paper licence)</a></li>
              <li><a href="/gafl/payment-complete?licence-option=digital">Payment confirmation (digital licence)</a></li>
            </ul>

            <h3 class="govuk-heading-s">
              Round 1
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl/dob?path=a">GAFL journey 1</a></li>
              <li><a href="/gafl/dob?path=b">GAFL journey 2</a></li>
              <br>
              <li><a href="/gafl/licence-conditions">Terms and conditions</a></li>
              <li><a href="/gafl/order-complete?licence-option=paper-licence">Payment confirmation (paper licence)</a></li>
              <li><a href="/gafl/order-complete?licence-option=digital">Payment confirmation (digital licence)</a></li>
            </ul>
          </td>
        </tr>

        <!-- Fish movements catches -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Fish movements catches
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              April 2021
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>Look up catch returns</li>
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              Fish Movements lookup catch return
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/fish-movements/lookup">Enter licence number</a></li>
              <li><a href="/fish-movements/results">Catch return results</a></li>
              <li><a href="/fish-movements/no-results">No catch return results</a></li>
              <li><a href="/fish-movements/catch-return">Catch return</a></li>
            </ul>
          </td>
        </tr>

        <!-- pre-2021 -->
        <tr class="govuk-table__row table__row--last">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Legacy screens
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              November 2021
            </p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Contributors
                </span>
              </summary>

              <div class="govuk-details__text">
                <p>
                  <br>Research: Cécile Pujol and Jon Settle
                  <br>Interaction design: Cécile Pujol
                  <br>Admin: Alan Cruikshanks
                </p>
              </div>
            </details>

            <ul class="govuk-list govuk-body-s">
              <li>Renew licence email</li>
              <li>GAFL steps</li>
              <li>Licence calculator</li>
            </ul>
          </th>
          <td class="govuk-table__cell">

            <h3 class="govuk-heading-s">
              Start points
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/renew/renew-email-mobile">Renew email mobile</a></li>
                <li><a href="/renew/renew-email">Renew email desktop</a></li>
              </section>
            </ul>

            <h3 class="govuk-heading-s">
              Steps
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/renew/authenticate">Authenticate this licence</a></li>
                <li><a href="/renew/authenticate-other-licence">Authenticate using licence details</a></li>
                <li><a href="/renew/contact-prefs">Set expiry reminder preference</a></li>
                <li><a href="/renew/check-benefits">Check benefits</a></li>
                <li><a href="/renew/national-insurance-number">Tell us your national insurance number</a></li>
                <li><a href="/renew/check-blue-badge">Check Blue Badge</a></li>
                <li><a href="/renew/blue-badge-number">Blue Badge number</a></li>
                <li><a href="/renew/renew-from">When would you like the next licence to start?</a></li>
                <li><a href="/renew/licence-details">Check licence details</a></li>
                <li><a href="/renew/licence-conditions">Agree to licence conditions</a></li>
                <li><a href="/renew/payment">Make a payment</a></li>
                <li><a href="/renew/payment-confirmed">Payment confirmed</a></li>
                <li><a href="/renew/licence-renewal-confirmed">Licence renewal confirmation</a></li>
              </section>
            </ul>

            <h3 class="govuk-heading-s">
              Experiemental
            </h3>

            <ul class="govuk-list govuk-list--bullet">
              <section class="govuk-!-margin-bottom-6">
                <li><a href="/renew/calculator">Licence calculator</a></li>
              </section>
            </ul>

          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

{% endblock %}
