{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% set title = "‘I want to fish’ prototype" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <p><a href="index" class="govuk-back-link">Back</a></p>
    <p>&nbsp;</p>

  </div>
</div>

<!-- notes about the service & prototype -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">

      <caption class="govuk-table__caption govuk-table__caption--m">
        Prototype versions, 2022
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Version</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">






<!-- 2022 -->

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Recurring payments
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              December 2022
            </p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl-recurring-payments/licence-terms">Recurring payment start</a></li>
            </ul>
          </td>
        </tr>



        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Licence price increase, multibuy confirmation page
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              November 2022
            </p>
            <!-- <ul class="govuk-list govuk-body-s">
              <li>Licence conditions - accordion</li>
              <li></li>
              <li></li>
            </ul> -->
          </th>
          <td class="govuk-table__cell">
            <!-- <h3 class="govuk-heading-s">
              v1
            </h3> -->
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl-price-increase/who-is-this-licence-for">Licence price increase start</a></li>
              <li><a href="gafl-price-increase/start-kind">Licence price increase banner</a></li>
              <li><a href="gafl-price-increase/licence-price-increase">Licence price increase info page</a></li>
              <li><a href="renew/check-licence-details_2023">Easy Renewal licence price increase banner</a></li>
              <li><a href="/gafl-multibuy-accordion-alt-conf/who-is-this-licence-for">BOBO/Multibuy with simplified confirmation page</a></li>
              <li><a href="/gafl-multibuy-accordion/payment-complete-v2">Direct link to alternative confirmation page</a></li>
            </ul>
          </td>
        </tr>




        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h2 class="govuk-heading-m">
              Licence conditions
            </h2>
            <p class="govuk-body-s govuk-!-font-weight-bold">
              April 2022
            </p>
            <ul class="govuk-list govuk-body-s">
              <li>Licence conditions - accordion</li>
              <li></li>
              <li></li>
            </ul>
          </th>
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              BOBO/Multibuy - Accordion licence conditions
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/gafl-multibuy-accordion/who-is-this-licence-for">BOBO/Multibuy start</a></li>

              <li><a href="/gafl-multibuy-accordion/licence-terms">Licence conditions page</a></li>
              <!-- <li><a href="/gafl-multibuy-accordion/payment-complete-v2">Alternative confirmation page, November 2022</a></li> -->
            </ul>
          </td>
        </tr>




      </tbody>
    </table>

  </div>
</div>

{% endblock %}
