{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {{ govukHeader({
   homepageUrl: "/",
   serviceName: "Buy a fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <!-- hacky hack -->
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Buy a fishing licence prototype Test
    </h1>
    <p>
      This is a new version of the prototype and contains a limited set of views.
    </p>

    <p class="govuk-!-margin-bottom-0">
      <a href="https://github.com/DEFRA/fish-prototype">
        GitHub: DEFRA / fish-prototype
      </a>
    </p>
    <p>
      <br>Research: Cécile Pujol and Jon Settle
      <br>Interaction design: Steve Murphy
      <br>Admin: Alan Cruikshanks
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-8">

      <h2 class="govuk-heading-m">
        Recent changes
      </h2>

      <h3 class="govuk-heading-s">
        Paperless licence
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <section class="govuk-!-margin-bottom-6">
          <li><a href="/gafl/licence-options-a">How do you want your licence? - light touch</a></li>
          <li><a href="/gafl/licence-options-b">How do you want your licence? - nudge</a></li>
          <li><a href="/gafl/licence-options-c">How do you want your licence? - interstitial</a></li>
        </section>
      </ul>

      <h3 class="govuk-heading-s">
        Fish Movements lookup catch return
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <section class="govuk-!-margin-bottom-6">
          <li><a href="/fish-movements/lookup">Enter licence number</a></li>
          <li><a href="/fish-movements/results">Catch return results</a></li>
          <li><a href="/fish-movements/catch-return">Catch return</a></li>
        </section>
      </ul>

      <h2 class="govuk-heading-m">
        Legacy views
      </h2>

      <h3 class="govuk-heading-s">
        Start points
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <section class="govuk-!-margin-bottom-6">
          <li><a href="/renew/renew-email-mobile">Renew email mobile</a></li>
          <li><a href="/renew/renew-email">Renew email desktop</a></li>
        </section>
      </ul>

      <h3 class="govuk-heading-s">
        Steps
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <section class="govuk-!-margin-bottom-6">
          <li><a href="/renew/authenticate">Authenticate this licence</a></li>
          <li><a href="/renew/authenticate-other-licence">Authenticate using licence details</a></li>
          <li><a href="/renew/contact-prefs">Set expiry reminder preference</a></li>
          <li><a href="/renew/check-benefits">Check benefits</a></li>
          <li><a href="/renew/national-insurance-number">Tell us your national insurance number</a></li>
          <li><a href="/renew/check-blue-badge">Check Blue Badge</a></li>
          <li><a href="/renew/blue-badge-number">Blue Badge number</a></li>
          <li><a href="/renew/renew-from">When would you like the next licence to start?</a></li>
          <li><a href="/renew/licence-details">Check licence details</a></li>
          <li><a href="/renew/licence-conditions">Agree to licence conditions</a></li>
          <li><a href="/renew/payment">Make a payment</a></li>
          <li><a href="/renew/payment-confirmed">Payment confirmed</a></li>
          <li><a href="/renew/licence-renewal-confirmed">Licence renewal confirmation</a></li>
        </section>
      </ul>

      <h3 class="govuk-heading-s">
        Experiemental
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <section class="govuk-!-margin-bottom-6">
          <li><a href="/renew/calculator">Licence calculator</a></li>
        </section>
      </ul>

    </div>
  </div>
</div>

{% endblock %}
