{% extends "layout.html" %}

{% block pageTitle %}
Prototypes for usability testing
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% set title = "Prototypes for usability testing" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

  </div>
</div>


<!-- notes about the service & prototype -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<h2 class="govuk-heading-s">May 2024</h2>
  <ul class="govuk-list govuk-list--bullet">
      <li><a href="gafl-rp-15-05-24/who-is-this-licence-for">1. Buy a fishing licence</a>
      <li><a href="gafl-rp-15-05-24/email-confirmation">2. Check your email</a> or text messages</li>
      <li><a href="gafl-rp-cancel-15-05-24/email-reminder">3. You get an email (11 months later)</a>
      <li><a href="gafl-rp-cancel-15-05-24/email-cancelled">4. Cancellation email</a>
    <li>Additional task: <a href="gafl-rp-cancel-15-05-24/email-payment-failed">you get an email</a> or text message</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



  </div>
</div>

{% endblock %}
