{% extends "layout.html" %}

{% block pageTitle %}
Prototypes for usability testing
{% endblock %}

{% block header %}
{{ govukHeader({
  useTudorCrown: true,
   homepageUrl: "/",
   serviceName: "Get a rod fishing licence",
   serviceUrl: "#",
   containerClasses: "govuk-width-container"
 }) }}
{% endblock %}

{% set title = "Prototypes for usability testing" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

  </div>
</div>


<!-- notes about the service & prototype -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<h2 class="govuk-heading-s">May 2024</h2>
  <ul class="govuk-list govuk-list--bullet">
      <li><a href="gafl-rp-15-05-24/who-is-this-licence-for">Usability testing - main journey with RCP</a>
      <li><a href="gafl-rp-cancel-15-05-24/rcp-cancel_enter-details">Usability testing - cancellation journey from payment reminder email</a>
      <li><a href="">Usability testing - email confirming cancellation</a>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



  </div>
</div>

{% endblock %}
